/* ==========================================================================
   CSS code for Buttons
   
   Author: Max Quattromani
   Version: 1.0 - Updated: 7/3/13
   ========================================================================== */
   
/*

 * Layout
 
 * Module
 
 * State
 
 * Theme
 
 * Browser Specific
 		* Safari/Chrome/Webkit
 		* Firefox
 		* Internet Explorer
 
 */
 
/* ==========================================================================
   Base
   ========================================================================== */
 

/* ==========================================================================
   Layout
   ========================================================================== */

/* layout styles are being handled by base main.css */


/* ==========================================================================
   Module
   ========================================================================== */

/* ==========================
   Buttons
   ========================== */

/* Buttons with Icons */	
.icon-after a.btn span {
	width: 1em;
	margin-right: .5em; }

.icon-before a.btn span {
	width: 1em;
	margin-left: .5em; }

/* ==========================================================================
   State
   ========================================================================== */
   
/* ==========================
   Browser Specific
   ========================== */

/* Firefox */

@-moz-document url-prefix() {

}

/* Webkit: Chrome/Safari */ 

@media screen and (-webkit-min-device-pixel-ratio:0) {
/* Webkit browsers add a 2px margin outside the chrome of form elements */

}

/* IE: 6/7/8/9 */
   
/* ie (.ie) */   

/* ie6 (.ie6) */

/* prevent BG image flicker upon hover */

/* ie7 (.ie7) */

/* ie8 (.ie8) */

/* ie9 (.ie9) */


/* ==========================
	Responsive Design
   ========================== */ 

/* Tablet */   

@media (max-width: 68.6875em) {
 
/* ==========================================================================
   Layout
   ========================================================================== */


/* ==========================================================================
   Module
   ========================================================================== */

     
/* ==========================================================================
   State
   ========================================================================== */


/* ==========================================================================
   Theme
   ========================================================================== */	

} /* End Tablet Breakpoint */
   
/* SmartPhone */   

@media (max-width: 31.25em) {

/* ==========================================================================
   Layout
   ========================================================================== */
 

/* ==========================================================================
   Module
   ========================================================================== */


/* ==========================================================================
   State
   ========================================================================== */
   

/* ==========================================================================
   Theme
   ========================================================================== */
  
   		
} /* End SmartPhone Breakpoint */

 
/* ==========================================================================
   Theme
   ========================================================================== */
   
