/* ==========================================================================
   CSS code for Contact Us
   
   Author: Max Quattromani
   Version: 1.5.9 - Updated: 9/15/13
   ========================================================================== */
   
/*

 * Layout
 
 * Module
 
 * State
 
 * Theme
 
 * Browser Specific
 		* Safari/Chrome/Webkit
 		* Firefox
 		* Internet Explorer
 
 */
 
/* ==========================================================================
   Base
   ========================================================================== */
 
.twc-box-column li a {
	font: inherit;
	font-weight: 700;
	line-height: 1.4; }

dd { margin-left: 0; }

/* ==========================
	Repeatable Helper Classes
   ========================== */

.left { float: left; }

.right { float: right; }  

/* ==========================================================================
   Layout
   ========================================================================== */

/* layout styles are being handled by base main.css */

/* ==========================================================================
   Module
   ========================================================================== */

/* ==========================
	Contact Us - Steps
   ========================== */

p.twc-subHead {
	font-size: 16px;
	font-size: 1.6rem; }

[class*='twc-step'] {
	position: relative;
	float: left;
	width: 33.3333%;
	overflow: hidden; }   

.twc-contactUs h6 {
	width: 91%;
	margin-bottom: 0;
	padding: 12px 1.5em;
	color: #666;
	font-weight: 100;
	line-height: 1.4; }

	.twc-contactUs h6.active,
	.twc-backgroundGradient-4.active {
		background-color: #3779b3;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#3779b3), to(#02447e));
		background-image: -webkit-linear-gradient(top, #3779b3, #02447e);
		background-image: -moz-linear-gradient(top, #3779b3, #02447e);
		background-image: -o-linear-gradient(top, #3779b3, #02447e);
		background-image: -ms-linear-gradient(top, #3779b3, #02447e);
		background-image: linear-gradient(top, #3779b3, #02447e);
		border: none;
		background-size: 100% auto;
		color: #fff; }
	
		.twc-contactUs h6 span { font-size: 120%; }
		
			.twc-contactUs h6.last { width: 100%; }

.step-completed:after {
	padding-left: 10px;
	font-family: 'FontAwesome', sans-serif;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 100;
	content: "\f046";
	color: #6b9cc7; }

[class*='end-arrow'] {
	position: absolute;
	width: 39px;
	height: 40px;
	top: 7px;
	left: 265px;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
    border-radius: 0 5px;
	-webkit-transform:rotate(45deg);
	   -moz-transform:rotate(45deg);
	    -ms-transform:rotate(45deg);
	   		transform:rotate(45deg);
	z-index: 9999; }

	.end-arrow.active {
		background-color: #3779b3;
		background: -moz-linear-gradient(-45deg,  rgba(55,121,179,1) 0%, rgba(2,68,126,1) 100%);
		background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(55,121,179,1)), color-stop(100%,rgba(2,68,126,1)));
		background: -webkit-linear-gradient(-45deg,  rgba(55,121,179,1) 0%,rgba(2,68,126,1) 100%);
		background: -o-linear-gradient(-45deg,  rgba(55,121,179,1) 0%,rgba(2,68,126,1) 100%);
		background: -ms-linear-gradient(-45deg,  rgba(55,121,179,1) 0%,rgba(2,68,126,1) 100%);
		background: linear-gradient(135deg,  rgba(55,121,179,1) 0%,rgba(2,68,126,1) 100%); }

.step-container {
	overflow: auto;
	position: relative;
	height: 320px;
	margin: 2em 0 1em;
	padding: 0 2em;
	border-right: 1px solid #c2c2c2; }

	.step-container.last { 
		display: none;
		border-right: none; }	

/* ==========================
	Step 1
   ========================== */

li.heading,
li.callMeMaybe { 
	cursor: pointer;  }

.twc-contactUs h5  {
	margin-bottom: 0;
	padding: 7px 20px;	
	border-bottom: 1px solid #fff;
	line-height: 1.4; }

	h5.twc-backgroundGradient-4:after {
		float: right;
		font-family: 'FontAwesome', sans-serif;
		content:'\f107';
		color: #b1b2af; }
	
	#chatUs h5.twc-backgroundGradient-4:after { content:'\f105'; }
		
		h5.twc-backgroundGradient-4.expanded:after {
			-webkit-transform:rotate(180deg);
			   -moz-transform:rotate(180deg); 
			   	-ms-transform:rotate(180deg);
			   	 -o-transform:rotate(180deg);
			   	 	transform:rotate(180deg); }

.backTo,
.changeQuestions,
.questionsContinue,
.changeContact { display: none; }

ul.content {
	overflow: auto;
	display: none;
	height: 210px;
	margin: 0;
	border-right: none; }

.twc-step1 .step-container ul { height: auto; }

.twc-step1 li li,
.twc-step2 dt  {
	padding: 7px 20px;
	background: none;
	border-bottom: 1px dotted #ccc; }

    .twc-step1 li li.twc-last,
    .twc-step2 dt.twc-last { border: none; }

	.twc-step1 li li.active {
		background: #356d9d;
		border-bottom: 1px solid #356d9d; }
	
		.twc-step1 li li.active a { color: #fff; }
	
		.twc-step1 li li.active:after {
			float: right;
			font-family: 'FontAwesome', sans-serif;
			font-size: 18px;
			font-size: 1.8rem;
			content:'\f105';
			color: #fff;
			line-height: 1.2; }

.stepButton {
	display: none;
	bottom: 0;
	margin-top: .5em;
	margin-left: 2em;
	padding: .5em 1em;
    border-radius: 3px;
	color: #333;
	text-shadow: 0 1px 1px #fff; } 

.stepButton.inline-block {
	display: inline-block !important;
	bottom: 0; }
  
/* ==========================
	Step 2
   ========================== */

.questionsContinue.active { visibility: hidden; }

.twc-step2 dl { 
	display: none;
	clear: both;
	overflow: auto; }

.twc-step2 dt.displayQuestion {
	padding-left: 1em;
	border-bottom: 0;
	background: #ededee; }

.twc-step2 dt.displayQuestion a,
.twc-step3 span.callUs {
	color: #333;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: bold; }

dd { 
	display: none; 
	padding: 0 15px 15px;
	background: #ededee;
	overflow: auto; }
 
/* ==========================
	Step 3
   ========================== */

.twc-step3 .step-container { overflow: hidden; }

.twc-contactUs .twc-step3 ul,
.twc-contactUs .twc-step3 dl {
	position: relative;
	overflow: auto; }

.twc-contactUs h5.label { padding: 7px 0; }

	.twc-contactUs ul.last {
		border-right: none;
		overflow: auto; }

.twc-step3 ul.content {
	margin: 10px 0;
	padding: 0 .5em; }

.twc-contactUs li.last,
.twc-contactUs dt.last { 
	border-bottom: 1px solid transparent; }

.callMeMaybe span { display: block; }

#callUs .content { 
    display: none;
    max-height: 250px;
    overflow: auto; }

#callUs .content p { margin-top: .5em; }

.callMeMaybe .contactInfo {
	padding: 1em 0;
	border-bottom: 1px dotted #ccc; }

	.callMeMaybe li::first-child { padding-top: 0; }

.keywords {
	padding: 1em;
	background: #ededee;
	margin-bottom: 1em; }

.custServLocHeader { font-weight: 700; }

.tel { font-weight: 100 !important; }

.helpfulLinks { margin: 20px 0 0; }

	.helpfulLinks span {
		font-size: 18px;
		font-size: 1.8rem;
		font-weight: 500; }
	
ul.helpfulLinks { border-right: none; }

/* ==========================================================================
   State
   ========================================================================== */
   
/* ==========================
   Browser Specific
   ========================== */

/* Firefox */

@-moz-document url-prefix() {

}

/* Webkit: Chrome/Safari */ 

@media screen and (-webkit-min-device-pixel-ratio:0) {
/* Webkit browsers add a 2px margin outside the chrome of form elements */

}
/* IE: 6/7/8/9 */
   
/* ie (.ie) */   
.twc-ie .twc-hasPlaceholder { color: #777; }

.twc-ie p.twc-subHead { font-size: 16px; }

/* ie6 (.ie6) */

/* prevent BG image flicker upon hover */

/* ie7 (.ie7) */

/* ie8 (.ie8) */

.twc-ie8 .twc-box-column { border: 1px solid #c2c2c2; }

	.twc-ie8 .twc-contactUs h6.active {color: #fff; }

/* .twc-ie8 .end-arrow { display: none; } */

.twc-ie .end-arrow {
    height: 39px;
    width: 39px;
    top: -1px;
    left: 259px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)"; }

.twc-ie .steps li.active .end-arrow {
    height: 39px;
    width: 39px;
    top: -1px;
    left: 259px;
    background: #3779b3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)"; }
	
/* ie9 (.ie9) */
.twc-ie9 .twc-contactUs h6 {
	width: 100%;
	color: #444; }
	
	.twc-ie9 .twc-contactUs h6.active { color: #fff; }

.twc-ie9 .end-arrow { display: none; }

/* ==========================
	Responsive Design
   ========================== */ 

/* Tablet */   

@media (max-width: 68.6875em) {
 
/* ==========================================================================
   Layout
   ========================================================================== */

.twc-box-column {
	padding: 2%;
    box-shadow: none; }

[class*='twc-step'] {
	float: none;
	width: 100%;
    box-shadow: 0 1px 2px #333; }

/* ==========================================================================
   Module
   ========================================================================== */

#carousel { display: none;}

p.twc-subHead { padding: 0 2%; }

.end-arrow { display: none; }

.step-container {
	display: none;
	margin-top: 0;
	padding: 1em;
	border: none; }

/* ==========================
	Step 1
   ========================== */

.step-container { height: auto; }

ul.content { height: auto; }

.backTo,
.changeQuestions,
.questionsContinue,
.changeContact {
	top: -.5em; }

.stepButton {
	margin: 1em 0 0; }   
 
.stepButton.inline-block { position: relative; }
  
/* ==========================
	Step 2
   ========================== */

.questionsLinks { display: block; }
 
.questionsContinue.active {
	display: inline-block;
	float: right;
	visibility: visible; }

.questionsContinue.active:after {
	padding-left: 5px;
	font-family: 'FontAwesome', sans-serif;
	content:'\f105';
	color: inherit; }  

/*
dd { 
	overflow-y: scroll;
}
*/

.twc-step2 .stepButton {
	display: inline-block;
	position: relative; }

/* ==========================
	Step 3
   ========================== */

.twc-contactUs h6,
.twc-contactUs h6.last {
	width: auto;
	cursor: pointer; }  

.helpfulLinks { display: none; }

li#callUs.callMeMaybe ul.content { height: 100% !important; }
   
/* ==========================================================================
   State
   ========================================================================== */
   
/* ==========================================================================
   Theme
   ========================================================================== */	

} /* End Tablet Breakpoint */
   
/* SmartPhone */   

@media (max-width: 31.25em) {

/* ==========================================================================
   Layout
   ========================================================================== */

/* ==========================================================================
   Module
   ========================================================================== */

/* ==========================================================================
   State
   ========================================================================== */
   
/* ==========================================================================
   Theme
   ========================================================================== */
	
} /* End SmartPhone Breakpoint */

/* ==========================================================================
   Theme
   ========================================================================== */  
