/* ==========================================================================
   CSS code for A to Z
   
   Author: Max Quattromani
   Version: 1.0.0 - Updated: 7/12/13
   ========================================================================== */
   
/*

 * Layout
 
 * Module
 
 * State
 
 * Theme
 
 * Browser Specific
 		* Safari/Chrome/Webkit
 		* Firefox
 		* Internet Explorer
 
 */
 
/* ==========================================================================
   Base
   ========================================================================== */


/* ==========================================================================
   Layout
   ========================================================================== */

/* layout styles are being handled by base main.css */

/* ==========================================================================
   Module
   ========================================================================== */

.AtoZ_container {
  	-webkit-column-count: 4;
  	   -moz-column-count: 4;
  		      column-count: 4;
  	-webkit-column-gap: 2.5%;
       -moz-column-gap: 2.5%;
	   		    column-gap: 2.5%;
}

.AtoZ_container ul li.heading {
	display: inline-block;
	width: 100%;
}

li.heading h5 {
	margin-bottom: .5em;
	padding: 7px 5%;
	border-bottom: 1px solid #FFFFFF;
	background: #eeeeef;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRmZTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #eeeeef 0%, #dddfe2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeef), color-stop(100%,#dddfe2));
	background: -webkit-linear-gradient(top,  #eeeeef 0%,#dddfe2 100%);
	background: -o-linear-gradient(top,  #eeeeef 0%,#dddfe2 100%);
	background: -ms-linear-gradient(top,  #eeeeef 0%,#dddfe2 100%);
	background: linear-gradient(to bottom,  #eeeeef 0%,#dddfe2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeef', endColorstr='#dddfe2',GradientType=0 );
}

li.heading ul.content {
	margin-bottom: 2em;
	padding: 0 5%;	
}


/* ==========================================================================
   State
   ========================================================================== */
   
/* ==========================
   Browser Specific
   ========================== */

/* Webkit: Chrome/Safari */ 

/* IE: 6/7/8/9 */
   
/* ie (.ie) */   

/* ie6 (.ie6) */

/* prevent BG image flicker upon hover */

/* ie7 (.ie7) */

/* ie8 (.ie8) */

.no-csscolumns .AtoZ_container { visibility: hidden; }

.no-csscolumns .AtoZ_container ul li.heading { padding: 0 1em; }

/* ie9 (.ie9) */


/* ==========================
	Responsive Design
   ========================== */ 

/* Tablet */   

@media (max-width: 68.6875em) {
 
/* ==========================================================================
   Layout
   ========================================================================== */


/* ==========================================================================
   Module
   ========================================================================== */

.AtoZ_container {
  	-webkit-column-count: 2;
  	   -moz-column-count: 2;
  		    column-count: 2;
}

/* ==========================================================================
   State
   ========================================================================== */

   
/* ==========================================================================
   Theme
   ========================================================================== */	

} /* End Tablet Breakpoint */
   
/* SmartPhone */   

@media (max-width: 31.25em) {

/* ==========================================================================
   Layout
   ========================================================================== */
 
.twc-box-column {
    padding: 0;
}

   
/* ==========================================================================
   Module
   ========================================================================== */

.AtoZ_container {
  	-webkit-column-count: 1;
  	   -moz-column-count: 1;
  		      column-count: 1;
}

	.AtoZ_container ul {
		margin-bottom: 0;
	}
	
	.AtoZ_container ul li.heading.twc-first {
		border-radius: 3px 3px 0 0;
	}

	.AtoZ_container ul ul {
		margin-top: .5em;
	}
	
li.heading h5 {
	margin: 0;
	border-bottom: 1px solid #34546f;
	background-color: #5d92c0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#5d92c0), to(#2c608f));
	background-image: -webkit-linear-gradient(top, #5d92c0, #2c608f);
	background-image: -moz-linear-gradient(top, #5d92c0, #2c608f);
	background-image: -o-linear-gradient(top, #5d92c0, #2c608f);
	background-image: -ms-linear-gradient(top, #5d92c0, #2c608f);
	background-image: linear-gradient(top, #5d92c0, #2c608f);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#5d92c0', EndColorStr='#2c608f');
	color: #fff;
}

	li.heading h5:after {
	    content: "";
	    float: right;
	    font-family: 'FontAwesome',sans-serif;
	}
	
		li.heading h5.expanded:after {
			-webkit-transform: rotate(180deg);
			   -moz-transform: rotate(180deg);
			   		transform: rotate(180deg);
		}

li.heading ul.content {
	display: none;	
}



/* ==========================================================================
   State
   ========================================================================== */
   
   
/* ==========================================================================
   Theme
   ========================================================================== */
  
  
  
  
   		
} /* End SmartPhone Breakpoint */

   
   
   
/* ==========================================================================
   Theme
   ========================================================================== */
    
