/*********
* BASE * 
*********/
@font-face {
	font-family:'TWC Round Book';
	src:url(/../test/_assets/fonts/twcround-book.eot?#iefix) format("embedded-opentype"),
		url(/../test/_assets/fonts/twcround-book.woff) format("woff"),
		url(/../test/_assets/fonts/twcround-book.ttf) format("truetype"),
		url(/../test/_assets/fonts/twcround-book.svg#svgTWCBook) format("svg");
}

@font-face {
	font-family:'TWC Round Light';
	src:url(/../test/_assets/fonts/twcround-light.eot?#iefix) format("embedded-opentype"),
		url(/../test/_assets/fonts/twcround-light.woff) format("woff"),
		url(/../test/_assets/fonts/twcround-light.ttf) format("truetype"),
		url(/../test/_assets/fonts/twcround-light.svg#svgTWCLight) format("svg");
}

@font-face {
	font-family:'TWC Round Medium';
	src:url(/../test/_assets/fonts/twcround-medium.eot?#iefix) format("embedded-opentype"),
		url(/../test/_assets/fonts/twcround-medium.woff) format("woff"),
		url(/../test/_assets/fonts/twcround-medium.ttf) format("truetype"),
		url(/../test/_assets/fonts/twcround-medium.svg#svgTWCMedium) format("svg");
}

a:link,a:visited {
	color:#3275aa;
	text-decoration:none;
}

.clearfix:after {
	clear:both;
	display:block;
	visibility:hidden;
	height:0;
	content:".";
	line-height:0;
}

.clearfix {
	display:inline-block;
}

html[xmlns] .clearfix {
	display:block;
}

* html .clearfix {
	height:1%;
}

/*********
* LAYOUT *
*********/
.left {
	float:left;
}

.right {
	float:right;
}

/********* page styles *********/
.twctv {
	position:relative;
	overflow:hidden;
	margin:0 auto;
	padding:25px 30px 150px;
	width:900px;
	height:700px;
	border:none;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;
	background:#000;
	color:#fcfcfc;
	font-family:'TWC Round Light',Arial,Sans-Serif;
}

.twctvBackground {
	position:relative;
	width:100%;
	height:350px;
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzMjMzMzUiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-radial-gradient(top,ellipse cover,rgba(50,51,53,0.65) 0%,rgba(0,0,0,0) 100%);
/* FF3.6+ */
	background:-webkit-gradient(radial,top center,0px,top center,100%,color-stop(0%,rgba(50,51,53,0.65)),color-stop(100%,rgba(0,0,0,0)));
/* Chrome,Safari4+ */
	background:-webkit-radial-gradient(top,ellipse cover,rgba(50,51,53,0.65) 0%,rgba(0,0,0,0) 100%);
/* Chrome10+,Safari5.1+ */
	background:-o-radial-gradient(top,ellipse cover,rgba(50,51,53,0.65) 0%,rgba(0,0,0,0) 100%);
/* Opera 12+ */
	background:-ms-radial-gradient(top,ellipse cover,rgba(50,51,53,0.65) 0%,rgba(0,0,0,0) 100%);
/* IE10+ */
	background:radial-gradient(ellipse at top,rgba(50,51,53,0.65) 0%,rgba(0,0,0,0) 100%);
/* W3C */
}

.leader {
	float:left;
/* layout code, remove */
	margin-top:45px;
	margin-bottom:25px;
	width:285px;
	height:316px;
}

.leader h1 {
	font-weight: 100;
	margin:0 0 10px;
	font-size:34px;
	line-height: 34px;
}

.leader h3 {
	font-weight: 100;
	margin:10px 0;
	color:#acacac;
	font-size:18px;
}

.leader h4 {
	margin:10px 0;
	color:#acacac;
	font:normal 13px/16px Arial,"Helvetica Neue",Helvetica,sans-serif;
}

.accessApps span {
	float:left;
	width:44px;
	height:44px;
}

span.apple {
	background:url(../images/accessApps.png);
	background-position:0 75px;
}

span.android {
	background:url(../images/accessApps.png);
	background-position:157px 75px;
}

span.laptop {
	background:url(../images/accessApps.png);
	background-position:110px 75px;
}

span.getTheAppNow {
	clear:both;
	width: 29px;
	height: 30px;
	background: url(../images/accessApps.png);
	background-position: 0 105px;
}
span.getTheAppNow p {
	clear:both;
	width: 150px;
	margin: 4px 0 0 30px;
	font: 24px "TWC Round Medium",Arial,Sans-Serif; 
	color: #fff;
}

.trifecta {
	float:right;
	margin-top:45px;
	margin-bottom:25px;
	width:592px;
	height:316px;
	background:url(../images/trifecta.png);
}

.scrollWatch {
	float:left;
	margin-right:23px;
	width:283px;
	height:236px;
	border:1px solid #3d3d3d;
	background:url(../images/scrollWatch.png);
}

.scrollWatch p,.forgetDVR p,
.threeFiftyChannels p {
	position:relative;
	top:236px;
	font:normal 12.5px/16px Arial,"Helvetica Neue",Helvetica,sans-serif;
}

.forgetDVR {
	float:left;
	margin-right:22px;
	width:283px;
	height:236px;
	border:1px solid #3d3d3d;
	background:url(../images/forgetDVR.png);
}

.threeFiftyChannels {
	float:left;
	width:283px;
	height:236px;
	border:1px solid #3d3d3d;
	background:url(../images/350Channels.png);
}

/*********
* MODULE *
*********/
/********* 
* STATE 
*********/
/********** 
* THEME 
*********/
/********* 
* BROWSER SPECIFIC 
*********/
/* Safari/Chrome/Webkit */
/* Firefox */
/* Ah, Internet Explorer */
/* ie7 (.ie7) */
.ie7 .twctv {
	background:#000;
}

.ie7 .twctvBackground {
	height:981px;
	background:url(../images/bg_glow.png);
}

/* ie8 (.ie8) */
.ie8 .twctv {
	background:#000;
}

.ie8 .twctvBackground {
	height:981px;
	background:url(../images/bg_glow.png);
}

/* ie9 (.ie9) */