/* Unchanged */
/* ==========================================================================
   Base: Defaults
   ========================================================================== */

/* make buttons play nice in IE */
#byobForm button,input {*overflow: visible;line-height: normal;}

/* ==========================================================================
   Layout
   ========================================================================== */

#byobForm .left-side {
    border: 1px solid #fff;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(201, 201, 201, 1);
    -moz-box-shadow: 0px 0px 1px 1px rgba(201, 201, 201, 1);
    box-shadow: 0px 0px 1px 1px rgba(201, 201, 201, 1);
}
#byobForm .support-center .left-side {
    padding: 30px;
    background: rgb(233,233,233); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U5ZTllOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI0JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  rgba(233,233,233,1) 0%, rgba(255,255,255,1) 24%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(233,233,233,1)), color-stop(24%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(233,233,233,1) 0%,rgba(255,255,255,1) 24%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(233,233,233,1) 0%,rgba(255,255,255,1) 24%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(233,233,233,1) 0%,rgba(255,255,255,1) 24%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(233,233,233,1) 0%,rgba(255,255,255,1) 24%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}

/* ==========================================================================
   Module: Form
   ========================================================================== */

#byobForm .left-side h1 {
    font: normal 28px "TWC Round Book", arial,helvetica,clean,sans-serif;
    margin-bottom: 10px;
}
#byobForm .left-side h2 {
    font: normal 18px "TWC Round Book", arial,helvetica,clean,sans-serif;
    margin-bottom: 10px;
}
#byobForm .left-side h3 {
    font: normal 18px "TWC Round Book", arial,helvetica,clean,sans-serif;
    color: #4377a8;
    margin: 5px 0 10px;
}
#byobForm .left-side p {
    font: normal 14px Arial,helvetica,clean,sans-serif;
    margin: 0px 0 10px;
}

#byobForm .text ul {
    width: auto;
    margin-bottom: 15px;
}
#byobForm .text ul li {
    list-style: disc inside;
    line-height: 25px;
    padding-left: 1.3em;
}
#byobForm p {
    width: auto;
    line-height: 18px;
    margin-bottom: 20px;
}

input:focus { /* this is an override from clientlib.css, otherwise the input fields disappear and the structure changes on focus */
    outline: 0 none;
    border: 0 none;
}

#byobForm .form_field_text {
    border: 1px solid #CCCCCC;
    height: 18px;
    outline: 0 none;
}

#byobForm form {
    margin-top: 20px; /* combat clientlib attribute top:-20px; */
}

#byobForm .support-center form {
    position: relative;
    top: 0;
}

#byobForm .form_leftcollabel label {
    font: bold 14px/20px "TWC Round Book", arial,helvetica,clean,sans-serif;
}

#byobForm .form_leftcollabel p {
    margin:0;
}

#byobForm .text {
    margin-bottom: 10px;
}

#byobForm .text.section {
    float: left;
    width: 49%;
}

#byobForm .text.section input{
    width: 90%;
}

#byobForm .radio {
    width: 500px;
    float: left;
    clear: left;
    margin-bottom: 15px;
}

#byobForm .radio > .form_row:nth-child(n+2) {
    float: left;
    width: auto;
    margin-right: 40px;
    display: inline-block;
}

#byobForm .form_leftcollabel label {
    font: bold 12px/20px "TWC Round Book", arial,helvetica,clean,sans-serif;
}
#byobForm .form_rightcol input {
    margin: 5px 5px 1px 1px;
}

#byobForm .radio .form_rightcol {
    width: auto;
}

#byobForm .form_rightcol {
    font-size: 14px;
}
#byobForm .section.end {
    clear:left;
}

#byobForm .form_leftcolmark {
    display: none;
}

#byobForm .text.section:nth-of-type(6),
#byobForm .text.section:nth-of-type(7)
 {
    width: 140px;
}

#_content_twc_en_residential-home_support_byob_jcr_content_par_start_state.form_field,
#_content_twc_en_residential-home_support_byob_jcr_content_par_start_zipCode.form_field {
    width: 90px !important;
}

#byobForm div.captcha {
    float: left;
    clear: left;
    margin-top: 0;
    margin-bottom: 15px;
}

#byobForm .form_button_submit {
    padding: 10px 15px;
    background: #387ab4;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #387ab4),color-stop(18%, #3173ad),color-stop(74,#0d4f89),color-stop(100,#01437d));
    background-image: -webkit-linear-gradient(top, #387ab4 0%,#3173ad 18%,#0d4f89 74%,#01437d 100%);
    background-image: -moz-linear-gradient(top, #387ab4 0%,#3173ad 18%,#0d4f89 74%,#01437d 100%);
    background-image: -ms-linear-gradient(top, #387ab4 0%,#3173ad 18%,#0d4f89 74%,#01437d 100%);
    background-image: -o-linear-gradient(top, #387ab4 0%,#3173ad 18%,#0d4f89 74%,#01437d 100%);
    background: -pie-linear-gradient(top, #387ab4 0%,#3173ad 18%,#0d4f89 74%,#01437d 100%);
    background-image: linear-gradient(top, #387ab4 0%,#3173ad 18%,#0d4f89 74%,#01437d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3678b2', EndColorStr='#044680');
    width: 94px;
    border: 0;

    -webkit-border-radius: 5px;
      -moz-bordewr-radius: 5px;
            border-radius: 5px;

    font: lighter 1.3em "TWC Round Light", Arial, Sans-Serif;
    color: #fff;
}


/* ==========================================================================
   State
   ========================================================================== */

/********* form errors *********/

#byobForm .form_error {
    display: block;
    color: #f00;
    font-size: 0.8em;
    line-height: 2em;
    margin-left: 0;
}

#byobForm .form p.form_error {
    background: #ffc0cb;
    font-size: 1em;
    line-height: 3em;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #f00;

}

#byobForm .form_leftcol div.form_leftcollabel span { /* hide shit HTML */
    display:none;
}

#byobForm .checkbox .form_error {
    margin-left: 0;
}

#byobForm .end > .form_row >.form_rightcol:before {
    content: url("/etc/designs/residential/clientlibs/images/arrow-white-right.png");
    position: relative;
    top: 1px;
    left: 90px;
}


/* ==========================================================================
   Browser Specific
   ========================================================================== */



/* Safari/Chrome/Webkit */
/* Webkit browsers add a 2px margin outside the chrome of form elements */
html {-webkit-text-size-adjust: 100%;}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* selectors goes here */
}

/* Firefox */

/* Ah, Internet Explorer */
/* make buttons play nice in IE */
html {-ms-text-size-adjust: 100%;}
button {width: auto; overflow: visible;}

/* ie6 (.ie6) */
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));} /* prevent BG image flicker upon hover */
.ie6 input {vertical-align: text-bottom;}

/* ie7 (.ie7) */
.ie7 img {-ms-interpolation-mode: bicubic;} /* scale images in IE7 more attractively */

.ie7 .support-center .left-side {
    padding: 0 20px;
    border: 1px solid #222 !important;
}

/* ie8 (.ie8) */
#byobForm .ie8 .left-side {
    padding: 20px;
    border: 1px solid #b9b9b9 !important;
}

.ie8 .section.end {
    padding-bottom: 20px;
}

/* ie9 (.ie9) */
.ie9 .support-center .left-side {
    filter: none;
}