/*Sliding Text and Icon Menu Style*/
.sti-menu{
	width:960px;
	position:relative;
	margin:50px auto 0 auto;
}
.sti-menu li{
	float:none;
	width:270px;
	height:243px;
	margin:1px;
}
.sti-menu li a{
	display:block;
	overflow:hidden;
	background:none;
	text-align:center;
	height:100%;
	width:100%;
	position:relative;
	/*-moz-box-shadow:1px 1px 2px #ddd;
	-webkit-box-shadow:1px 1px 2px #ddd;
	box-shadow:1px 1px 2px #ddd;*/
}
.sti-menu li a h2{
	color:#ggg;
	/*font-family: 'Wire One', arial, serif;*/ 
	font-size:22px;
	font-weight:bold;
	text-transform:uppercase;
	position:absolute;
	padding:10px;
	width:250px;
	top:110px;
	left:0px;
	/*text-shadow: 0px 1px 1px black;*/
}
.sti-menu li a h3{
	/*font-family: Baskerville, "Hoefler Text", Garamond, "Times New Roman", serif; */
	font-size:18px;
	font-style:italic;
	color: #fff;
	position:absolute;
	top:190px;
	left:10px;
	width:230px;
	padding:10px;
}
/*.sti-icon{
	width:100px;
	height:100px;
	position:absolute;
	background-position:top left;
	background-repeat:no-repeat;
	background-color:transparent;
	left:50px;
	top:30px;
}*/
.sti-icon-care{
	background-image:url(../images/care.png);
}
.sti-icon-alternative{
	background-image:url(../images/alternative.png);
}
.sti-icon-family{
	background-image:url(../images/family.png);
}
.sti-icon-info{
	background-image:url(../images/info.png);
}
.sti-icon-technology{
	background-image:url(../images/technology.png);
}