/* ==========================================================================
    CSS code for LOB Topic Details
   
   	Author: Qoppa
   	Version: 1.0.0 - Updated: 10/1/13
   ========================================================================== */
   
/*

 * Layout
 
 * Module
 
 * State
 
 * Theme
 
 * Browser Specific
 		* Safari/Chrome/Webkit
 		* Firefox
 		* Internet Explorer
 
 */
 
/* ==========================================================================
   	Base
   ========================================================================== */
	
	.share-social { display: none;}
	
	.blue-bar {
	width: 100%;
	height: auto;
	margin: -1em 0 1em 0;
	padding: .75em 0;
	background-color: #5d92c0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#5d92c0), to(#2c608f));
	background-image: -webkit-linear-gradient(top, #5d92c0, #2c608f);
	background-image: -moz-linear-gradient(top, #5d92c0, #2c608f);
	background-image: -o-linear-gradient(top, #5d92c0, #2c608f);
	background-image: -ms-linear-gradient(top, #5d92c0, #2c608f);
	background-image: linear-gradient(top, #5d92c0, #2c608f);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#5d92c0', EndColorStr='#2c608f'); }
	
	figure img {
	max-height: 300px;	
	}
	
	.float-right { float: right;}

/* ==========================================================================
   	Layout
   ========================================================================== */

/* ==========================================================================
   	Module
   ========================================================================== */

/* ==========================================================================
   	State
   ========================================================================== */
   
/* ==========================
   	Browser Specific
   ========================== */

/* Webkit: Chrome/Safari */ 

/* IE: 6/7/8/9 */
   
/* ie (.ie) */   

/* ie6 (.ie6) */

/* prevent BG image flicker upon hover */

/* ie7 (.ie7) */

/* ie8 (.ie8) */

/* ie9 (.ie9) */


/* ==========================
	Responsive Design
   ========================== */ 

/* Tablet */   

@media (max-width: 68.6875em) {
 
/* ==========================================================================
   	Layout
   ========================================================================== */

/* ==========================================================================
   	Module
   ========================================================================== */
   
	.share-social { display: none;}
	
/* ==========================================================================
   	State
   ========================================================================== */

/* ==========================================================================
   	Theme
   ========================================================================== */	

} /* End Tablet Breakpoint */
   
/* SmartPhone */   

@media (max-width: 31.25em) {

/* ==========================================================================
   	Layout
   ========================================================================== */
   
/* ==========================================================================
   	Module
   ========================================================================== */

	.share-social { display: none;}

/* ==========================================================================
   	State
   ========================================================================== */ 
   
/* ==========================================================================
   	Theme
   ========================================================================== */
   		
} /* End SmartPhone Breakpoint */

/* ==========================================================================
   	Theme
   ========================================================================== */
