/* ==========================================================================
   CSS code for 
   
   Author: Max Quattromani
   Version: 1.0 - Updated: 5/7/13
   ========================================================================== */
   
/*

 * Layout
 
 * Module
 
 * State
 
 * Theme
 
 * Browser Specific
 		* Safari/Chrome/Webkit
 		* Firefox
 		* Internet Explorer
 
 */
 
/* ==========================================================================
   Base
   ========================================================================== */
 


/* ==========================================================================
   Layout
   ========================================================================== */

/* layout styles are being handled by base main.css */

/* ==========================================================================
   Module
   ========================================================================== */

.chainedImages { line-height: 0; }

#stickyFooter.twc-container {
	padding: 10px 4%;
}

.stickyFooter {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #3779b3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3779b3), to(#02447e));
	background-image: -webkit-linear-gradient(top, #3779b3, #02447e);
	background-image: -moz-linear-gradient(top, #3779b3, #02447e);
	background-image: -o-linear-gradient(top, #3779b3, #02447e);
	background-image: -ms-linear-gradient(top, #3779b3, #02447e);
	background-image: linear-gradient(top, #3779b3, #02447e);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3779b3', EndColorStr='#02447e');
}

	.stickyFooter span {
		color: #fff;
		padding: 0 4px;
	}
	
	.stickyFooter span.h1:before {
		font-family: 'FontAwesome', sans-serif;
		content: '\f086';
		margin-right: 5px;
		color: #fff;
	}
	
	#stickyFooter.twc-container button {
		margin-top: 7px;
	} 

/* ==========================================================================
   State
   ========================================================================== */
   
/* ==========================
   Browser Specific
   ========================== */

/* Firefox */

@-moz-document url-prefix() {

}

/* Webkit: Chrome/Safari */ 

@media screen and (-webkit-min-device-pixel-ratio:0) {
/* Webkit browsers add a 2px margin outside the chrome of form elements */
	img { height: auto; }
}

/* IE: 6/7/8/9 */
   
/* ie (.ie) */   

/* ie6 (.ie6) */

/* prevent BG image flicker upon hover */

/* ie7 (.ie7) */

/* ie8 (.ie8) */

/* ie9 (.ie9) */


/* ==========================
	Responsive Design
   ========================== */ 

/* Tablet */   

@media (max-width: 68.6875em) {
 
/* ==========================================================================
   Layout
   ========================================================================== */





/* ==========================================================================
   Module
   ========================================================================== */


   
/* ==========================================================================
   State
   ========================================================================== */




   
/* ==========================================================================
   Theme
   ========================================================================== */	

} /* End Tablet Breakpoint */
   
/* SmartPhone */   

@media (max-width: 31.25em) {

/* ==========================================================================
   Layout
   ========================================================================== */
 
 
 
 
   
/* ==========================================================================
   Module
   ========================================================================== */





/* ==========================================================================
   State
   ========================================================================== */
   
   
   
   
   
   
/* ==========================================================================
   Theme
   ========================================================================== */
  
  
  
  
   		
} /* End SmartPhone Breakpoint */

   
   
   
/* ==========================================================================
   Theme
   ========================================================================== */
    
