#ccDeviceSelect {
  padding: 0px;
}

#ccLanguageSelect {
  padding: 0px;
}

.ccPreSurveyRadioInputLabel {
  vertical-align: baseline; 
  padding-right: 2px;
}

.ccPreSurveyRadioInput {
  margin-top: 0px;
}

.ConsonaFieldSet legend{
  white-space: normal;
}  