/* ==========================================================================
   CSS code for Chat UI
   
   Author: Max Quattromani
   Version: 1.0 - Updated: 3/22/13
   ========================================================================== */
   
/*

 * Layout
 
 * Module
 
 * State
 
 * Theme
 
 * Browser Specific
 		* Safari/Chrome/Webkit
 		* Firefox
 		* Internet Explorer
 
 */
 
/* ==========================================================================
   Base
   ========================================================================== */
 


/* ==========================================================================
   Layout
   ========================================================================== */

/* layout styles are being handled by base main.css */
.container {
	width: 980px;
	margin: 0 auto;
}


/* ==========================================================================
   Module
   ========================================================================== */

a {
	font-weight: normal;
}

#confirmCust {
	display: none;
}

#chatwindow {
	position: fixed;
	height: 306px;
	border: 0;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	   		border-radius: 3px;
	-webkit-box-shadow: 0 0 1px 1px #b2b2b2;
	   -moz-box-shadow: 0 0 1px 1px #b2b2b2;
	   		box-shadow: 0 0 1px 1px #b2b2b2;
	z-index: 9999;
	overflow: hidden;
}

#dragbar {
	position: absolute;
	height: 28px;
	width: 94%;
	padding: 3%;
	background: #fff;
	-webkit-border-radius: 3px 3px 0 0;
	   -moz-border-radius: 3px 3px 0 0;
	   		border-radius: 3px 3px 0 0;
	color: #333;
	cursor: move;
}

#dragbar h5:before { 
	padding-right: 5px;
	font-family: 'FontAwesome', sans-serif;
	font-size: 1.8px;
	font-size: 1.8rem;
	font-weight: 100;
	content: "\f086"; 
	color: #333;
}

#hidewindow {
	top: 15px;
	color: #387ab4;
}

#hidewindow:after {
	width: 10px;
	height: 10px;
	padding-left: 5px;
	font-family: 'FontAwesome', sans-serif;;
	content: "\f00d";
}

#container {
	position: absolute;
	width: auto;
	height: 190px;
	top: 46px;
	padding: 10px;
	border-radius: 0;
	background-color: #316c95;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#316c95), to(#3473a0));
	background-image: -webkit-linear-gradient(top, #316c95, #3473a0);
	background-image: -moz-linear-gradient(top, #316c95, #3473a0);
	background-image: -o-linear-gradient(top, #316c95, #3473a0);
	background-image: -ms-linear-gradient(top, #316c95, #3473a0);
	background-image: linear-gradient(top, #316c95, #3473a0);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#316c95', EndColorStr='#3473a0');
}

#content {
	position: relative;
	width: 280px;
	overflow: visible;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}

.language {
	display: inline-block;
	width: 100%;
	text-align: right;
}

.language a { 
	color: #fff; 
}

.ccShortField {
	width: 100% !important;
}

.ccChatDescription {
	color: #fff;
}

.ccPreSurveyRadioInputLabel {
    vertical-align: bottom;
}

/********* Custom Select Boxes *********/
.selectBox {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 5px 0;
    cursor: default;
    text-align: left;
    line-height: 30px;
    clear: both;
    color: #888;
    font-size: 13px;
    font-weight: lighter;
}
span.selected {
	width: 66%;
    max-width: 300px;
    text-indent: 7px;
    -webkit-border-radius: 3px 0 0 3px;
       -moz-border-radius: 3px 0 0 3px;
       		border-radius: 3px 0 0 3px;
    background: #f6f6f6;
    overflow: hidden;
}

	span.selected a {
		color: #444;
	}

span.selectArrow {
    width: 9%;
    max-width: 30px;
    text-align: center;
    color: #fff;
    font-size: 13px;
    -webkit-border-radius: 0 3px 3px 0;
       -moz-border-radius: 0 3px 3px 0;
       		border-radius: 0 3px 3px 0;
    background-color: #acacac;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#acacac), to(#7a7a7a));
	background-image: -webkit-linear-gradient(top, #acacac, #7a7a7a);
	background-image: -moz-linear-gradient(top, #acacac, #7a7a7a);
	background-image: -o-linear-gradient(top, #acacac, #7a7a7a);
	background-image: -ms-linear-gradient(top, #acacac, #7a7a7a);
	background-image: linear-gradient(top, #acacac, #7a7a7a);
}

	span.selectArrow:after {
		font-family: 'FontAwesome', sans-serif;;
		content: "\f107";
	}
 
span.selectArrow,
span.selected {
    position: relative;
    float: left;
    height: 30px;
    z-index: 1;
}

div.selectOptions {
    position: absolute;
    top: 35px;
    left: 0;
    width: 99%;
    border: 1px solid #ccc;
    overflow: hidden;
    background: #f6f6f6;
    padding-top: 2px;
    display: none;
    z-index: 9999;
}
     
span.selectOption {
    display: block;
    width: 80%;
    line-height: 20px;
    padding: 5px 10%;
}

span.selectOption:last-child {
	padding-bottom: 15px;
}
 
span.selectOption:hover {
    background: #eaeaea;        
}  


hr {
	padding-bottom: 10px;
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0,0,0,0.1);
	border-bottom: 1px solid rgba(255,255,255,0.3);
}


.share-module {
	float: left;
	height: 30px;
	margin: 0 0 20px;
}

	.share-module h3,
	.share-module .print {
		float: right;
		color: #d4dadf;
		font-size: 11px;
		text-transform: uppercase;
	}


input,
textarea {
	border: none;
	display: inline-block;
	font-size: .9em;
	height: 30px;
	line-height: 20px;
	margin-top: 5px;
	padding: 5px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	   		border-radius: 3px;
}

fieldset#ccDeviceSelect {
	color: #fff;
}

.ccPreSurveyTextInput {
	border: none;
}

.ccPreSurveyTextAreaInput {
	height: 70px;
	border: none;
}

#ccStartChatButton {
	float: left;
}

.bottomContainer {
	position: absolute;
	width: 280px;
	top: 250px;
	padding: 10px;
	background: white;
	overflow: auto;
}

.transcript {
	float: right;
	padding-top: 10px;
}

	.transcript a:after {
		padding-left: 5px;
		font-family: 'FontAwesome', sans-serif;;
		content: "\f105";
	}

#ccWait {
	border: 1px solid #316c95;
	background-color: #316c95;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#316c95), to(#3473a0));
	background-image: -webkit-linear-gradient(top, #316c95, #3473a0);
	background-image: -moz-linear-gradient(top, #316c95, #3473a0);
	background-image: -o-linear-gradient(top, #316c95, #3473a0);
	background-image: -ms-linear-gradient(top, #316c95, #3473a0);
	background-image: linear-gradient(top, #316c95, #3473a0);
}

#ccWaitMessage {
	margin-top: 10px;
	font-family: 'TWC Round Light', Arial, sans-serif;
	font-size: 20px;
	font-size: 2rem;
	color: #fff;
}

	#ccWaitMessage.second {
		font-size: 14px;
		font-size: 1.4rem;
	}

#ccChatOutput {
	height: auto;
}

/* ==========================================================================
   State
   ========================================================================== */
   
/* ==========================
   Browser Specific
   ========================== */

/* Firefox */

@-moz-document url-prefix() {

}

/* Webkit: Chrome/Safari */ 

@media screen and (-webkit-min-device-pixel-ratio:0) {
/* Webkit browsers add a 2px margin outside the chrome of form elements */

}

/* IE: 6/7/8/9 */
   
/* ie (.ie) */   

/* ie6 (.ie6) */

/* prevent BG image flicker upon hover */

/* ie7 (.ie7) */

/* ie8 (.ie8) */

/* ie9 (.ie9) */


/* ==========================
	Responsive Design
   ========================== */ 

/* Tablet */   

@media (max-width: 68.6875em) {
 
/* ==========================================================================
   Layout
   ========================================================================== */





/* ==========================================================================
   Module
   ========================================================================== */




   
/* ==========================================================================
   State
   ========================================================================== */




   
/* ==========================================================================
   Theme
   ========================================================================== */	

} /* End Tablet Breakpoint */
   
/* SmartPhone */   

@media (max-width: 31.25em) {

/* ==========================================================================
   Layout
   ========================================================================== */
 
 
 
 
   
/* ==========================================================================
   Module
   ========================================================================== */





/* ==========================================================================
   State
   ========================================================================== */
   
   
   
   
   
   
/* ==========================================================================
   Theme
   ========================================================================== */
  
  
  
  
   		
} /* End SmartPhone Breakpoint */

   
   
   
/* ==========================================================================
   Theme
   ========================================================================== */
    
