/*
	SLIDER
*/
.slider-wrap								{


}			
#main-photo-slider {
	width: 501px;
	overflow: hidden;
}

#from_portfolio {
	background: url(../images/sliderbg.png) no-repeat 0px 8px;
	height: 212px;
	width: 501px;
	margin: auto;
	padding-top: 16px;
	padding-left: 10px;
	padding-right: 11px;
	overflow: hidden;
}

.stripViewer .panelContainer 
.panel ul									{ text-align: left; margin: 0 15px 0 30px; }
.stripViewer								{
	position: relative;
	overflow: hidden;
}
.stripViewer .panelContainer				{ position: relative; left: 0; top: 0; }
.stripViewer .panelContainer .panel			{
	float: left;
	height: 100%;
	width: 501px;
	overflow: hidden;
}
.stripNavL, .stripNavR, .stripNav			{ display: none; }
.nav-thumb 									{ border: 1px solid black; margin-right: 5px; }
#movers-row									{ margin: -43px 0 0 62px; }
#movers-row div								{ width: 20%; float: left; }
#movers-row div a.cross-link 				{ float: right; }
.photo-meta-data							{
	background: url(images/transpBlack.png);
	padding: 5px;
	color: white;
}
.photo-meta-data span 						{ font-size: 13px; }
.cross-link									{ display: block; width: 62px; margin-top: -14px; 
											  position: relative; padding-top: 15px; z-index: 9999; }
.active-thumb 								{ background: transparent url(images/icon-uparrowsmallwhite.png) top center no-repeat; }
