/* ==========================================================================
   CSS code for We Are Listening Form
   
   Author: Max Quattromani
   Version: 1.0 - Updated: 4/29/13
   ========================================================================== */
   
/*
 
 * Base
 		* Colors
 		* Defaults
 
 * Layout
 
 * Module
 
 * State
 
 * Theme
 
 * Browser Specific
 		* Safari/Chrome/Webkit
 		* Firefox
 		* Internet Explorer
 
 */
/* ==========================================================================
   Base: Colors
   ========================================================================== */

/* ==========================================================================
   Base: Defaults
   ========================================================================== */
/* ==========================
	Reset
   ========================== */

html,body,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,time,mark,audio,video {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	background: transparent;
	list-style: none outside none;
	vertical-align: baseline;
	font-size: 100%;
}

/* ==========================
	HTML5 Display Definitions
   ========================== */
   
article,aside,figure,footer,header,hgroup,nav,section {
	display: block;
}

audio,canvas,video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

audio:not([controls]) {
	display: none;
}

/* ==========================
	Base Stucture
   ========================== */
   
html {
	overflow-y: scroll;
	height: 100%;
	font-size: 62.5%;
	-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
}

body,
button,
input,
select,
textarea {
	font-size: 13px;
	font-size: 1.3rem;
	font-family: Arial,sans-serif;
	line-height: 1.443;
}

/* ==========================================================================
   Base: Font-Face
   ========================================================================== */

/* ==========================
	Links
   ========================== */

a {
	margin: 0;
	padding: 0;
	background: transparent;
	vertical-align: baseline;
	font-family: sans-serif;
	font-weight: bold;
	color: #3376b2;
	text-decoration: none;
}

a:hover {
	color: #1b405d;
}

/* ==========================
	Headers
   ========================== */

h1,
h2,
h3,
h4,
h5
h6 {  
	display: table-cell;
	vertical-align: middle;
	font-weight: 100;
	line-height: 1.4;
	color: #333;
}

h1 {
	font-size: 36px;
	font-size: 3.6rem;
}

h2 {
	font-size: 30px;
	font-size: 3rem;

}

h3 {
	font-size: 24px;
	font-size: 2.2rem;
}

h4 {
	font-size: 22px;
	font-size: 2.2rem;
}

h5 {
	font-size: 20px;
	font-size: 2.0rem;
}

h6 {
	font-size: 18px;
	font-size: 1.8rem;
}

.icon,
.icon-more {
	position: relative;
	text-align: right;
	text-decoration: none;
	font-family: 'FontAwesome', sans-serif;
	color: inherit;	
}

	.icon-more {
		font-family: 'FontAwesomeMore', sans-serif;
	}

small {
	font-size: 13px;
	font-size: 1.3rem;
}

p,
blockquote,
small {
	margin-bottom: 1.443em;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
}





/* ==========================================================================
   Layout
   ========================================================================== */

.full { 
	width: 100%;
	overflow: auto;
}

.container {	
	position: relative;
	width: 96%;
	max-width: 980px;
	margin: 0 auto;
	padding: 20px 2%;
	overflow: auto;
}

.row {
	clear: both;
}

.col {
    border: 0;
    float: left;
     margin-left: 3%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
    		box-sizing: border-box;
    -webkit-background-clip: padding-box !important;
	   -moz-background-clip: padding-box !important;
    		background-clip: padding-box !important;
}

	.row .col:first-child {
	     margin-left: 0;
	}
        
.span_1 { width: 5.58333333333%; }

.span_2 { width: 14.1666666667%; }

.span_3 { width: 22.75%; }

.span_4 { width: 31.3333333333%; } 
    
.span_5 { width: 39.9166666667%; }

.span_6 { width: 48.5%; }

.span_7 { width: 57.0833333333%; }

.span_8 { width: 65.6666666667%; }

.span_9 { width: 74.25%; }

.span_10 { width: 82.8333333333%; }

.span_11 { width: 91.4166666667%; }

.span_12 {
    margin-left:0;
    width:100%;
}





/* ==========================
	Repeatable Helper Classes
   ========================== */

.left { float: left; }

.right { float: right; }

/* ==========================================================================
   Module
   ========================================================================== */
h6 {
	color: #3376B2;
}

.formRow {
	display: inline-block;
	clear: both;
	width: 100%;
	margin-top: 15px;
}

.formItem {
	width: 48.5%;
}

	.formItem input,
	textarea {
		width: 100%;
	}
	
	textarea { height: 150px; }
	
	.formItem input.half { width: 48.5%; }

label {
    font: 14px/20px "TWC Round Book", arial,helvetica,clean,sans-serif;
    line-height: 2;
}

.error {
	color: #ff0000;
}

button.twc-blue-button {
	width: auto;
	padding: 9px 20px;
}

/* ==========================================================================
   State
   ========================================================================== */
   
/* ==========================
   Browser Specific
   ========================== */

/* Firefox */

/* Webkit: Chrome/Safari */
   
/* Chrome Frame Prompt */
.chromeframe {
    margin: .2em 0;
    background: #ccc;
    color: #222;
    padding: .2em 0;
}

/* IE: 6/7/8/9 */
   
/* ie (.ie) */   
/* make buttons play nice in IE */
.ie button { 
	overflow: visible;
	width: auto;
}

/* scale images in IE7 more attractively */
.ie img {-ms-interpolation-mode: bicubic;}


/* ie6 (.ie6) */

/* prevent BG image flicker upon hover */
.ie6 html {filter: expression(document.execCommand('BackgroundImageCache', false, true));} 
.ie6 input {vertical-align: text-bottom;}

/* ie7 (.ie7) */
.ie7 .container {
	overflow: visible; 
}

/* ie8 (.ie8) */

/* ie9 (.ie9) */
/* Fix IE9 overflow bug */
.ie9 svg:not(:root) { overflow: hidden; }

.ie9 .gradient { filter: none; }

/* ==========================
	Responsive Design
   ========================== */ 

/* Tablet */   

@media (max-width: 68.6875em) {

/* ==========================
	Base
   ========================== */
 
/* ==========================
	Layout
   ========================== */
	[class*='span_'] {
		width: 100%;
	}

	.col {
     	margin: 0;
	}
	

/* ==========================
	Module
   ========================== */
   
/* ==========================
	State
   ========================== */
   
/* ==========================
	Theme
   ========================== */	

}
   
/* SmartPhone */   

@media (max-width: 31.25em) {
/* ==========================
	Base
   ========================== */
   
/* ==========================
	Layout
   ========================== */	

/* ==========================
	Module
   ========================== */ 

.span_9 { width: 100%; } 

.formItem {
	width: 100%;
}
  
/* ==========================
	State
   ========================== */
   
/* ==========================
	Theme
   ========================== */
   		
}

   
   
   
/* ==========================================================================
   Theme
   ========================================================================== */
    
