/* ==========================================================================
   CSS code for FAQ Survey
   
   Author: Max Quattromani
   Version: 1.0.3 - Updated: 10/8/13
   ========================================================================== */
   
/*

 * Layout
 
 * Module
 
 * State
 
 * Theme
 
 * Browser Specific
 		* Safari/Chrome/Webkit
 		* Firefox
 		* Internet Explorer
 
 */
 
/* ==========================================================================
   Base
   ========================================================================== */

/* ==========================================================================
   Layout
   ========================================================================== */

/* ==========================================================================
   Module
   ========================================================================== */

.faq-survey label {
	font-weight: 700;
	line-height: 2.5; }

.faq-survey {
	display: inline-block;
	position: relative;
	width: 100%;
	margin: 1em 0;
	padding: 1em;
	border-radius: 3px;
	background: #f0f3f2; }

.faq-survey b { display: block; }

.faq-survey p { margin: 0; }

.faq-survey-right {
	float: right;
	display: inline; }

.faq-survey input { margin-left: 20px; }

#faq-survey-feedback { margin-left: 2em; }

#faq-survey-feedback-response {
	display: none;
	float: right; }

.faq-survey-yes-response,
.faq-survey-no,
.faq-survey-no-response {
	display: none;
	clear: both; }

.faq-survey-no-response p {
	float: left;
	width: 50%; }

#faq-survey-feedback-live-chat {
	float: right;
	margin-left: 0; }

textarea { height: 150px; }

/* ==========================================================================
   State
   ========================================================================== */
   
/* ==========================
   Browser Specific
   ========================== */

/* Webkit: Chrome/Safari */ 

/* IE: 6/7/8/9 */
   
/* ie (.ie) */   

/* ie6 (.ie6) */

/* prevent BG image flicker upon hover */

/* ie7 (.ie7) */

/* ie8 (.ie8) */

/* ie9 (.ie9) */

/* ==========================
	Responsive Design
   ========================== */ 

/* Tablet */   

@media (max-width: 68.6875em) {
 
/* ==========================================================================
   Layout
   ========================================================================== */

/* ==========================================================================
   Module
   ========================================================================== */

/* ==========================================================================
   State
   ========================================================================== */

/* ==========================================================================
   Theme
   ========================================================================== */	

} /* End Tablet Breakpoint */
   
/* SmartPhone */   

@media (max-width: 31.25em) {

/* ==========================================================================
   Layout
   ========================================================================== */
 
/* ==========================================================================
   Module
   ========================================================================== */

.faq-survey {
	width: 94%;
	padding: 3%; }

.faq-survey fieldset { text-align: center; }

.faq-survey fieldset label { float: none; }

.faq-survey-right {
	display: block;
	float: none;
	width: auto; }

.faq-survey-right div.twc-right { float: none; }

.faq-survey button { margin: 10px auto; }

.faq-survey-no-response p { width: 100%; }

#faq-survey-feedback { margin-left: 0; }

#faq-survey-feedback-response { position: relative; }

.faq-survey em p {
	margin-bottom: 10px;
	text-align: center; }

#faq-survey-feedback-live-chat { float: left; }

/* ==========================================================================
   State
   ========================================================================== */
   
/* ==========================================================================
   Theme
   ========================================================================== */

   		
} /* End SmartPhone Breakpoint */

/* ==========================================================================
   Theme
   ========================================================================== */
    