/* ==========================================================================
   CSS code for how-to-videos
   
   Author: Max Quattromani
   Version: 1.0.1 - Updated: 10/21/13
   ========================================================================== */
   
/*

 * Layout
 
 * Module
 
 * State
 
 * Theme
 
 * Browser Specific
 		* Safari/Chrome/Webkit
 		* Firefox
 		* Internet Explorer
 
 */
 
/* ==========================================================================
   Base
   ========================================================================== */
 
.categories { margin-left: .5em;}
/* ==========================================================================
   Layout
   ========================================================================== */

[class*='youtube-video-gallery'] { 
    float: left;
	width: 23.125%;
    margin-left: 2.5%; }

	[class*='youtube-video-gallery']:nth-child(4n+1) { margin-left: 0; }
	
/* ==========================================================================
   Module
   ========================================================================== */

#searchResult { display: inline-block; }

.page-header .horizontal ul li { display: inline-block; }   

li.refineSearch ul.vertical li { 
    display: block;
    text-align: left; } 

.page-header {
	padding: 0 1em;
	background: #333534;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzMzUzNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYTFiMWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #333534 0%, #1a1b1f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333534), color-stop(100%,#1a1b1f));
	background: -webkit-linear-gradient(top,  #333534 0%,#1a1b1f 100%);
	background: -o-linear-gradient(top,  #333534 0%,#1a1b1f 100%);
	background: -ms-linear-gradient(top,  #333534 0%,#1a1b1f 100%);
	background: linear-gradient(to bottom,  #333534 0%,#1a1b1f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333534', endColorstr='#1a1b1f',GradientType=0 ); 
	color: #fff; }

.page-header .twc-module { width: 300px; }

.page-header .twc-module button:before {
    content: "";
    font-family: 'FontAwesome',sans-serif; }

.page-header .horizontal ul { margin-bottom: 0; }

.page-header .horizontal ul li { 
	padding: .5em 0;
	vertical-align: middle; }

	li.refineSearch {
		position: relative; 
		border-radius: 3px;
		color: #fff;
		text-align: center; }

.page-header div.horizontal ul li ul { 
	display: none;
	padding: .5em; }

.page-header .horizontal ul li.twc-last ul.vertical li input { 
	margin-right: .25em; }

    .page-header .horizontal ul li.twc-last ul.vertical li label { 
        display: block;
        width: 100%;
        padding: .5em 1em; }
    
    input[type=checkbox]:checked + label { 
        background: #3376B2;
        color: #fff; }
        
            input[type=checkbox]:checked + label:after {
                content: 'X';
                float: right; }
	
	.page-header .horizontal li.twc-last ul.vertical li.twc-last { 
	    border-left: none;
	    border-top: none;
	    border-right: none; }
	    
	   .page-header .horizontal li.twc-last ul.vertical li.twc-last:hover { box-shadow: none; }
	
	.page-header .horizontal ul li.active ul {
	    display: none;
	    position: absolute;
	    width: 200%;
	    right: 0;
	    top: 50px;
	    outline: 2px solid #fff;
	    background: #dcdcdc;
	    color: #333;
	    z-index: 9999; }

	.refineHead { display: block;}

.searchCategories {
    background-color: #fff;
	margin-bottom: 0.5em;}

.filter-section {
	padding: .75em 1.5em;
	background: #e4e7ea; }

	.filter-section .horizontal ul { margin-bottom: 0; }

.filter-section select { 
	width: 200px;
	margin-right: 3em; }

.mobile-view { display: none; }

[class*='youtube-video-'] figure { margin-bottom: 0; }

[class*='youtube-video-'] { 
	margin-bottom: 1em; 
	padding: .5em; 
	overflow: auto; }
	
	[class*='youtube-video-']:hover { background: #e4e7ea; }

[class*='youtube-video-'] a {
	display: block;
	margin-bottom: 1em; }

[class*='youtube-video-'] figure img { margin: 0 auto; }

#videoInfo a { 
	overflow: hidden;
	height: 32px; }

/*===========================================================================
  Pagination
  =========================================================================== */

.twc-none { display: none; }

.pagination a,
.pagination span {
	margin: 0 auto;
	color: #fff;
	font-family: 'TWC Round Medium',Arial,Sans-Serif;
	font-weight: 100;
	text-align: center; }

.pagination a {
    text-decoration: none;
	background-color: #3779b3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3779b3), to(#02447e));
	background-image: -webkit-linear-gradient(top, #3779b3, #02447e);
	background-image: -moz-linear-gradient(top, #3779b3, #02447e);
	background-image: -o-linear-gradient(top, #3779b3, #02447e);
	background-image: -ms-linear-gradient(top, #3779b3, #02447e);
	background-image: linear-gradient(top, #3779b3, #02447e);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3779b3', EndColorStr='#02447e'); }

.pagination > a, 
.pagination > span {
    padding: 0.675em 1em;
	border-radius: 3px;
	color: #fff; }

.pagination .current {
    background-color: #bcbcbc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#bcbcbc), to(#838383));
    background-image: -webkit-linear-gradient(top, #bcbcbc, #838383);
    background-image: -moz-linear-gradient(top, #bcbcbc, #838383);
    background-image: -o-linear-gradient(top, #bcbcbc, #838383);
    background-image: -ms-linear-gradient(top, #bcbcbc, #838383);
    background-image: linear-gradient(top, #bcbcbc, #838383);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#bcbcbc', EndColorStr='#838383');
    color: #fff; }

.pagination .prev:before { 
	content: '\f104';
	margin-right:.5em;
	font-family: 'FontAwesome', sans-serif; }

.pagination .next:after { 
	content: '\f105';
	margin-left:.5em;
	font-family: 'FontAwesome', sans-serif; }	
	
/* ==========================================================================
   State
   ========================================================================== */
   
/* ==========================
   Browser Specific
   ========================== */

/* Firefox */

@-moz-document url-prefix() {

}

/* Webkit: Chrome/Safari */ 

@media screen and (-webkit-min-device-pixel-ratio:0) {
/* Webkit browsers add a 2px margin outside the chrome of form elements */

}

/* IE: 6/7/8/9 */
   
/* ie (.ie) */   

/* ie6 (.ie6) */

/* prevent BG image flicker upon hover */

/* ie7 (.ie7) */

/* ie8 (.ie8) */

/* ie9 (.ie9) */


/* ==========================
	Responsive Design
   ========================== */ 

/* Tablet */   

@media (max-width: 68.6875em) {
 
/* ==========================================================================
   Layout
   ========================================================================== */

/* ==========================================================================
   Module
   ========================================================================== */

[class*='youtube-video-gallery'] { width: 48.75%; }

	[class*='youtube-video-gallery']:nth-child(2n+1) { margin-left: 0; }

/* ==========================================================================
   State
   ========================================================================== */
   
/* ==========================================================================
   Theme
   ========================================================================== */	

} /* End Tablet Breakpoint */
   
/* SmartPhone */   

@media (max-width: 31.25em) {

/* ==========================================================================
   Layout
   ========================================================================== */
 
[class*='youtube-video-gallery'] { 
	width: 100%;
	margin-left: 0; }
	   
/* ==========================================================================
   Module
   ========================================================================== */

.mainVideo { display: none; }

.page-header { padding: 0; }

.page-header .horizontal ul li { 
    width: 100%;
    padding: 1em; }

.page-header .twc-module { width: 100%; }

.horizontal ul { display: block; }

.showing { 
	display: inline-block;
	width: 100%;
	padding-bottom: 1em;
	border-bottom: 1px solid #ccc;
	text-align: center; }

.filter-section { background: #353535; }

.filter-section select { 
	width: 80%;
	margin: 0; }

li.refineSearch { 
    padding: .5em;
    border: none;
    border-radius: 0; }

	li.refineSearch .cta { background: none; }
	
		li.refineSearch .cta:hover { background: none; }

    li.refineSearch ul.vertical li { text-align: left; }

.refineSearch .submit { float: right; }

.page-header .horizontal ul li ul li { border-bottom: 1px dotted #ccc; }
    
    .page-header .horizontal ul li ul li.twc-last { border-bottom: none; }
    
.sortBy { color: #fff; }

[class*='youtube-video-'] { 
	margin-bottom: 0;
	padding: 1em .5em; }

[class*='youtube-video-'] > div { 
	float: left;
	margin-left: 2.5%; }

#videoInfo { width: 48.75%; }

[class*='youtube-video-'] > div:first-of-type { margin-left: 0; }

[class*='youtube-video-']:hover { background: none; }

.video-container { width: 48.75%; }

.video-container a { margin-bottom: 0; }

.video-container a figure img { margin-bottom: 0; }

.video-info { 
	width: 48%;
	margin-left: 4%; }

	.video-info a { min-height: 40px; }
	
.pagination { 
  width: 100%;
  margin: 0 auto;
  text-align: center; }
    
.pagination .prev span,
.pagination .next span { display: none; }

.pagination .prev:before { margin-right: 0; }

.pagination .next:after { margin-left: 0; }	

/* ==========================================================================
   State
   ========================================================================== */

.page-header .horizontal ul li.active ul { width: 100%; }

.page-header .horizontal ul li ul.is-active { display: block; }
   
/* ==========================================================================
   Theme
   ========================================================================== */
  		
} /* End SmartPhone Breakpoint */

/* ==========================================================================
   Theme
   ========================================================================== */
