/* ==========================================================================
    CSS for Common Remote Keys
   
   	Author: Qoppa
   	Version: 1.0.0 - Updated: 10/16/13
   ========================================================================== */
   
/*

 * Layout
 
 * Module
 
 * State
 
 * Theme
 
 * Browser Specific
 		* Safari/Chrome/Webkit
 		* Firefox
 		* Internet Explorer
 
 */
 
/* ==========================================================================
   	Base
   ========================================================================== */

/* ==========================================================================
   	Layout
   ========================================================================== */

/* ==========================================================================
   	Module
   ========================================================================== */

.twc-banner { 
	position: relative;
	height: auto;
	background: #282828;
	background-image: url("../images/banner-common-keys.jpg");
	background-repeat: no-repeat;
	background-position: center; }

.remote {
   text-align:center; 
   width: 100%;
   max-width: 356px; 
   margin: 0 auto; }

.modal-body { height: 310px; }

/* ==========================================================================
   	State
   ========================================================================== */
   
/* ==========================
   	Browser Specific
   ========================== */

/* Webkit: Chrome/Safari */ 

/* IE: 6/7/8/9 */
   
/* ie (.ie) */   

/* ie6 (.ie6) */

/* prevent BG image flicker upon hover */

/* ie7 (.ie7) */

/* ie8 (.ie8) */

.twc-ie8 .twc-banner { background-image: url("../images/banner-common-keys.jpg"); }

/* ie9 (.ie9) */


/* ==========================
	Responsive Design
   ========================== */ 

/* Tablet */   

@media (max-width: 68.6875em) {
 
/* ==========================================================================
   	Layout
   ========================================================================== */

/* ==========================================================================
   	Module
   ========================================================================== */

.twc-banner { background-position: 10% center; }
	
/* ==========================================================================
   	State
   ========================================================================== */

/* ==========================================================================
   	Theme
   ========================================================================== */	

} /* End Tablet Breakpoint */
   
/* SmartPhone */   

@media (max-width: 31.25em) {

/* ==========================================================================
   	Layout
   ========================================================================== */
 
/* ==========================================================================
   	Module
   ========================================================================== */

/* ==========================================================================
   	State
   ========================================================================== */ 
   
/* ==========================================================================
   	Theme
   ========================================================================== */
   		
} /* End SmartPhone Breakpoint */

/* ==========================================================================
   	Theme
   ========================================================================== */
