/* ==========================================================================
   CSS code for Feedback
   
   Author: Max Quattromani
   Version: 1.0.0 - Updated: 8/14/13
   ========================================================================== */
   
/*

 * Layout
 
 * Module
 
 * State
 
 * Theme
 
 * Browser Specific
 		* Safari/Chrome/Webkit
 		* Firefox
 		* Internet Explorer
 
 */
 
/* ==========================================================================
   Base
   ========================================================================== */

input,
select,
textarea { 
	border: 1px solid #e1e1e1; }
 
/* ==========================================================================
   Layout
   ========================================================================== */

/* layout styles are being handled by base main.css */

/* ==========================================================================
   Module
   ========================================================================== */

.feedback-container { 
	margin-top: 2em;
	padding: 1em;
	background: #eff0ef; }

.feedback-container [class*="twc-col2_4060-c"] { padding: 2em; }

.feedback-container [class*="twc-col2_4060-c0"] { border-right: 1px dotted #ccc; }

.feedback-container [class*="twc-col2_4060-c1"] { padding-left: 3em; }

.form-item { margin-bottom: 1em; }

.feedback-container .form-item label {
	font-weight: bold;
	line-height: 2; }

.feedback-container textarea { min-height: 200px; }

.feedback-response { 
	display: none;
	text-align: center; }

/* ==========================================================================
   State
   ========================================================================== */
   
/* ==========================
   Browser Specific
   ========================== */

/* Firefox */

@-moz-document url-prefix() {

}

/* Webkit: Chrome/Safari */ 

@media screen and (-webkit-min-device-pixel-ratio:0) {
/* Webkit browsers add a 2px margin outside the chrome of form elements */

}
/* IE: 6/7/8/9 */
   
/* ie (.ie) */   

/* ie6 (.ie6) */

/* prevent BG image flicker upon hover */

/* ie7 (.ie7) */

/* ie8 (.ie8) */

/* ==========================
	Responsive Design
   ========================== */ 

/* Tablet */   

@media (max-width: 68.6875em) {
 
/* ==========================================================================
   Layout
   ========================================================================== */

/* ==========================================================================
   Module
   ========================================================================== */

.feedback-container [class*="twc-col2_4060-c0"] { 
	border-right: none; 
	border-bottom: 1px dotted #ccc; }

.feedback-container [class*="twc-col2_4060-c"] { padding: 0; }

.feedback-container [class*="twc-col2_4060-c1"] { padding-top: 1em; }

/* ==========================================================================
   State
   ========================================================================== */
   
/* ==========================================================================
   Theme
   ========================================================================== */	

} /* End Tablet Breakpoint */
   
/* SmartPhone */   

@media (max-width: 31.25em) {

/* ==========================================================================
   Layout
   ========================================================================== */
   
/* ==========================================================================
   Module
   ========================================================================== */

/* ==========================================================================
   State
   ========================================================================== */

/* ==========================================================================
   Theme
   ========================================================================== */
	
} /* End SmartPhone Breakpoint */


/* ==========================================================================
   Theme
   ========================================================================== */
    