.wrap .solid-column {
	background:#fff;
	box-shadow:0 1px 1px #CED0D1;
	border:1px solid #fff;
}
/* TWCMS_Reg_Login_Complete1 */
.bll1 {
	float:left;
	background:#eff8fe;
	border-radius:10px 0 0 10px;
	-moz-border-radius:10px 0 0 10px;
	-webkit-border-radius:10px 0 0 10px;
	-khtml-border-radius:10px 0 0 10px;
	min-height:275px;
	width:463px;
	padding:15px 0 15px 20px;
}
.bll1 img {
	display:none;
}
.bll2 {
	float:right;
	background:#eff8fe;
	border-radius:0px 10px 10px 0px;
	-moz-border-radius:0px 10px 10px 0px;
	-webkit-border-radius:0px 10px 10px 0px;
	-khtml-border-radius:0px 10px 10px 0px;
	min-height:275px;
	height:auto;
	width:463px;
	padding:15px 0 15px 18px;
}
.bll3 {
	clear:both;
	background:#f9f9f9;
	margin-top:286px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
	padding:15px 0 15px 18px;
}
.bll1 h1, .bll2 h1, .bll3 h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	line-height:36px;
	color:#000000;
	margin:0;
	padding:0 0 7px 0;
}
.bll1 ul {
	margin:0;
	padding:0 0 0 14px;
}
.bll1 ul li {
	margin:0;
	padding:0 0 7px 0;
	list-style-type:disc;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:18px;
	color:#111111;
}
a.left-arr, a.right-arr {
	display:none;
}
.block {
	width:160px;
	float:left;
	margin:0 19px 0 4px;
}
.block-img {
	width:160px;
	height:95px;
	background:#fdfeff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	box-shadow:0 1px 1px #CED0D1;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}
.block h2 {
	margin:0;
	padding:8px 0 0 0;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	line-height:14px;
	color:#3275aa;
}
.block p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:15px;
	color:#000000;
	margin:0;
	padding:6px 0 0 0;
}
.shadow {
	background:url(../images/shadow-desktop.jpg) center center no-repeat;
	height:35px;
	width:900px;
	clear:both;
	padding:0;
}
a.btn, a.btn:visited {
	font-size:15px;
	font-weight:bold;
	margin:0px 0;
	display:inline-block;
}
a.btn:hover, a.btn:visited:hover {
	color:#fff;
}
a.btn-no, a.btn-no:visited {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	text-decoration:none;
	line-height:16px;
	display:inline-block;
	float:right;
	padding:9px 25px 0 0;
}
a.btn-no:hover, a.btn-no:visited:hover {
}
p.nhlp {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000000;
	line-height:16px;
	margin:0;
	padding: 15px 0 0 0;
}
p.nhlp a, p.nhlp a:visited {
}
p.nhlp a:hover, p.nhlp a:visited:hover {
}
.shadow-mobi {
	display:none;
}
/* TWCMS_Reg_Login_Find1 */
.bllr1 {
	float:left;
	background: url(../images/blr1.jpg) #f3f9ff top repeat-x;
	border-radius:10px 0 0 10px;
	-moz-border-radius:10px 0 0 10px;
	-webkit-border-radius:10px 0 0 10px;
	-khtml-border-radius:10px 0 0 10px;
	min-height:262px;
	width:463px;
	padding:15px 0 15px 20px;
}
.bllr2 {
	float:right;
	background: url(../images/blr2.jpg) #f7fbff top repeat-x;
	border-radius:0px 10px 10px 0px;
	-moz-border-radius:0px 10px 10px 0px;
	-webkit-border-radius:0px 10px 10px 0px;
	-khtml-border-radius:0px 10px 10px 0px;
	min-height:262px;
	width:463px;
	padding:15px 0 15px 28px;
}
.bllr1 h1 {
	color:#00549f !important;
}
.bllr1 h1, .bllr2 h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	line-height:36px;
	color:#000000;
	margin:0;
	padding:0 0 7px 0;
}
.bllr1 ul {
	margin:0;
	padding:0 0 0 14px;
}
.bllr1 ul li {
	margin:0;
	padding:0 0 7px 0;
	list-style-type:disc;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:18px;
	color:#111111;
}
.bllr1 p {
	padding-right:70px;
	padding-bottom:12px;
	color:#111;
}
.bllr2 p, .bllr2 ul li {
	color:#000;
}
.bllr2 ul {
	margin:0;
	padding:15px 0 0 31px;
}
.bllr2 ul li {
	margin:0;
	padding:0 0 7px 0;
	list-style-type:disc;
	line-height:11px;
}
.bllr1 label {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:18px;
	font-weight:bold;
	color:#111111;
	display:block;
	padding:8px 0 2px 0;
}
.bllr1 input {
	padding:8px;
	margin-bottom:10px;
}
.bllr1 input.zipcode {
	width:180px;
}
.bllr1 input.phone {
	width:75px;
}
.footer-btn {
	clear:both;
}
.footer-btn p {
	padding:11px 0 0 0;
}
.footer-btn a.btn {
	float: right;
	margin: 15px 0 0;
	padding: 10px 25px;
}
.footer-btn p {
	color:#222;
}
.footer-btn p strong {
	color:#000;
}
/* TWCMS_Reg_Login_Find2 */
.error-box {
	border:1px solid #cccccc;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	width:96%;
	margin:0 auto 14px auto;
	background:url(../images/error.jpg) 10px 10px no-repeat;
	padding:10px 14px 10px 60px;
	color:#df1b22;
	min-height:49px;
}
.bllr1.find2 {
	min-height:415px;
}
.bllr2.find2 {
	min-height:415px;
}
.bllr1.find2 label {
	padding-top:0;
	padding-bottom:10px;
}
input.err {
}
.bllr2.find2 h1 {
	color:#00549f !important;
}
.bllr2.find2 label {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:18px;
	font-weight:bold;
	color:#111111;
	display:block;
	padding:0px 0 2px 0;
	padding-bottom:10px;
}
.bllr2.find2 input {
	padding:8px;
	margin-bottom:10px;
}
.bllr2.find2 input.acc {
	width:240px;
	margin-bottom:14px;
}
.info {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:16px;
	color:#111111;
	padding:0 50px 10px 0;
	width:400px
}
.bllr2.find2 img {
	border:2px solid #c3d8e7;
	margin-top:10px;
}
.or {
	background:url(../images/or-d.png) no-repeat;
	width:46px;
	height:46px;
	position:absolute;
	top:250px;
	margin-left:445px;
}
/* TWCMS_Reg_Login_Find4 */
.error {
	padding-bottom:8px;
}
/* TWCMS_Reg_Login_Find5 */
.bllr2.find2.find5 {
	float:left;
	background: url(../images/blr1.jpg) #f3f9ff top repeat-x;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
	width:100%;
	min-height:395px;
	padding:15px 0 15px 20px;
}
.error-box.erb {
	padding-top:15px;
}
/* TWCMS_Reg_Login_Find3 */
input.login {
	margin-bottom:0px;
	width:240px;
}
.bllr2 ul li {
	padding: 0 10px 8px 0;
	line-height:14px;
	color:#111;
}
.bllr1.h2 {
	min-height:278px;
}
.bllr2.h2 {
	min-height:278px;
}
.error-box.h2 {
	background: url("../images/error.jpg") no-repeat scroll 41px 10px transparent;
	padding: 10px 13px 10px 80px;
	width: 75%;
}
.bllr3.h2 {
	display:none;
}
h1.sitm {
	font-size:21px;
}
h1.waig {
	font-size:16px;
}
/* TWCMS_Reg_Login_Verify2 */
.footer-btn.h3 p {
	padding: 23px 0 6px;
}
.bllr1.h3 {
	min-height:320px;
}
.bllr2.h3 {
	min-height:320px;
}
.bllr2.h3 h1 {
	font-size:18px;
}
.bllr1.h3 p {
	padding-bottom: 12px;
	padding-right: 80px;
}
input.digits {
	margin-bottom: 0;
	width: 260px;
}
select.digits {
	width: 260px;
	margin-bottom: 10px;
	padding: 7px 8px 6px 8px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#898989;
}
select.digits option {
	color:#000;
	font-weight:normal;
}
.bllr2.h3 img {
	border:2px solid #c3d8e7;
	margin:0 auto;
	display:block;
}
/* TWCMS_Reg_Login_Verify1 */
.bllr1.h4 {
	width:100%;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
	min-height:330px;
}
.bllr1.h4 p {
	width:420px;
}
.footer-btn.h4 p {
	padding: 23px 0 6px;
}
/* TWCMS_Reg_Login_Verify3 */
.bllr1.h5 {
	width:100%;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
	min-height:280px;
}
.bllr1.h5 p {
	width:420px;
}
/* TWCMS_Reg_Login_Profile3 */
.bllr1.h6 {
	width:100%;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
	min-height:280px;
	height:auto;
}
.bllr1.h6 p {
	width:430px;
}
.ch-list {
	padding-top:5px;
	padding-bottom:15px;
	clear:both;
}
.ch-list input {
	margin-bottom:0;
}
.bllr1.h6 input.digits {
	margin-bottom: 0;
	width:300px;
	float:left;
}
.bllr1.h6 .inp-list input.digits {
	margin-bottom:10px;
}
a.question {
	background:url(../images/question.png);
	display: block;
	float: left;
	height: 20px;
	margin: 6px;
	width: 20px;
}
.bllr1.h6 label {
	clear:both;
}
.inp-list {
	margin-bottom:49px;
}
.ch-l {
	border-top:1px solid #e2eef5;
	clear:both;
	margin: 10px 20px 0 0;
	padding: 14px 0 5px;
	font-size:12px;
	color:#111;
}
.ch-l input {
	margin-bottom:0;
}
.question-hover {
	margin-left: 360px;
	position: absolute;
	margin-top: 2px;
}
.question-arrow {
	background:url(../images/arrow-l.png);
	width:23px;
	height:27px;
	display:block;
	position:absolute;
	left: -23px;
}
.question-box {
	background:#fff;
	box-shadow:0px 1px 2px #BEBEBE;
	width:305px;
	padding:10px;
	margin-top:-37px;
}
.question-box ul li {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:18px;
	color:#666666;
	padding-bottom:0px;
}
/* TWCMS_Reg_Login_Profile4 */
.error-box.h7 {
	text-align:center;
	padding:16px 14px 10px 60px;
	background: url("../images/error.jpg") no-repeat scroll 150px 10px transparent;
}
.error {
	clear: both;
	position: relative;
	top: -9px;
	color:#df1b22;
}
.bllr1.h6 .error.ms {
	display:none;
}
/* TWCMS_Reg_Login_Terms2 */
.print {
	border:1px solid #dadada;
	background:#fff;
	width:98%;
	display:block;
	box-shadow:5px 4px 8px -3px #E1E1E1 inset;
	padding:10px 20px;
	float:left;
	margin:13px 0 20px 0;
}
.print h1 {
	font-size:16px;
}
.bllr1.h6 .print p {
	width:100%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:18px;
	color:#111111;
}
.bllr1.h6 .print h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#00549f;
	font-size:16px;
	line-height:30px;
}
.bllr1.h6 .print h1 {
	border-bottom: 1px solid #ADADAD;
	color: #000000 !important;
	margin-bottom: 10px;
	padding: 0 0 4px;
}
a.print-link {
	background: url("../images/print.jpg") no-repeat scroll right center transparent;
	float: right;
	padding: 11px 28px;
}
/* WCMS_Reg_Login_Security2 */
.bllr1.h6.h7 p {
	width:600px;
}
select.quest {
	width:300px;
	margin-bottom: 10px;
	padding: 7px 8px 6px 8px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:normal;
	color:#000;
}
.question-box.h2 {
	margin-top: -17px;
}
