.wrap .solid-column {
	background:#fff;
	box-shadow:0 1px 1px #CED0D1;
	border:1px solid #fff;
}
/* TWCMS_Reg_Login_Complete1 */
.wrapper {
	width:545px;
	background:#fff;
	margin:0 auto;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	padding:15px;
	box-shadow:0 1px 1px #CED0D1;
	position:relative;
}
.bll1 {
	float:left;
	background:#eff8fe;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
	min-height:275px;
	width:100%;
	padding:10px 0 15px 15px;
}
.bll2 {
	display:none
}
.bll3 {
	clear:both;
	background:#f9f9f9;
	margin-top:286px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
	padding:8px 0 15px 12px;
}
.bll1 img {
	margin:10px 15px 20px 19px;
	float:right
}
.bll3 h1 {
	font-size:14px !important;
}
.bll1 h1, .bll2 h1, .bll3 h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	line-height:36px;
	color:#000000;
	margin:0;
	padding:0 0 7px 0;
}
.bll1 ul {
	margin:0;
	padding:0 0 0 14px;
}
.bll1 ul li {
	margin:0;
	padding:0 0 7px 0;
	list-style-type:disc;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:18px;
	color:#111111;
}
.bloxk-trail {
	overflow:hidden;
	height:170px;
	position:relative;
	width:85%;
	margin:0 auto;
}
a.left-arr {
	background:url(../images/arrows.png) -23px 0px no-repeat;
	width:23px;
	height:45px;
	display:block;
	position:absolute;
	margin-top:23px;
	z-index:10;
	left:15px;
}
a.right-arr {
	background:url(../images/arrows.png) 0 0 no-repeat;
	width:23px;
	height:45px;
	display:block;
	position:absolute;
	right:15px;
	margin-top:23px;
	z-index:10;
}
a.left-arr:hover, a.right-arr:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.80;
	-khtml-opacity: 0.80;
	opacity: 0.80;
	text-decoration:underline;
}
.block {
	float: left;
	margin: 0 9px 0 7px;
	text-align: center;
	width: 150px;
}
.block-img {
	background: none repeat scroll 0 0 #FDFEFF;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 1px 1px #CED0D1;
	display: table-cell;
	height: 95px;
	text-align: center;
	vertical-align: middle;
	width: 145px;
}
.block-img img {
	width:90%;
	height: auto;
}
.block h2 {
	margin:0;
	padding:8px 0 0 0;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	line-height:14px;
	color:#3275aa;
}
.block p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:15px;
	color:#000000;
	margin:0;
	padding:6px 0 10px 0;
	min-height:65px;
}
.shadow {
	background: url(../images/shadow-tablet.jpg) center center no-repeat;
	height:35px;
	width:490px;
	clear:both;
	padding:0;
}
a.btn, a.btn:visited {
	font-size:13px;
	font-weight:bold;
	color:#ffffff;
	margin:0px 0;
	display:inline-block;
}
a.btn:hover, a.btn:visited:hover {
	color:#fff;
}
a.btn-no, a.btn-no:visited {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	line-height:16px;
	display:inline-block;
	float:right;
	padding:9px 25px 0 0;
}
a.btn-no:hover, a.btn-no:visited:hover {
}
p.nhlp {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000000;
	line-height:16px;
	margin:0;
	padding: 15px 0 0 0;
}
p.nhlp a, p.nhlp a:visited {
}
p.nhlp a:hover, p.nhlp a:visited:hover {
}
.shadow-mobi {
	display:none;
}
/* TWCMS_Reg_Login_Find1 */
.bllr1 {
	float:left;
	background: url(../images/blr1.jpg) #f3f9ff top repeat-x;
	border-radius:10px 0 0 10px;
	-moz-border-radius:10px 0 0 10px;
	-webkit-border-radius:10px 0 0 10px;
	-khtml-border-radius:10px 0 0 10px;
	min-height:310px;
	width:49%;
	padding:15px 0 15px 20px;
}
.bllr2 {
	float:right;
	background: url(../images/blr2.jpg) #f7fbff top repeat-x;
	border-radius:0px 10px 10px 0px;
	-moz-border-radius:0px 10px 10px 0px;
	-webkit-border-radius:0px 10px 10px 0px;
	-khtml-border-radius:0px 10px 10px 0px;
	min-height:310px;
	width:49%;
	padding:15px 0 15px 15px;
	font-size:12px;
}
.bllr1 h1 {
	color:#00549f !important;
}
.bllr1 h1, .bllr2 h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	line-height:36px;
	color:#000000;
	margin:0;
	padding:0 0 7px 0;
}
.bllr2 h1 {
	font-size:16px;
}
.bllr1 ul {
	margin:0;
	padding:0 0 0 14px;
}
.bllr1 ul li {
	margin:0;
	padding:0 0 7px 0;
	list-style-type:disc;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:18px;
	color:#111111;
}
.bllr1 p {
	padding-right:40px;
	font-size:12px;
	padding-bottom:12px;
}
.bllr2 ul {
	padding: 15px 3px 0 25px
}
.bllr2 ul li {
	margin:0;
	padding:0 0 6px 0;
	list-style-type:disc;
	line-height:13px;
}
.bllr1 label {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:18px;
	font-weight:bold;
	color:#111111;
	display:block;
	padding:13px 0 2px 0;
}
.bllr1 input {
	padding:8px;
	margin-bottom:8px;
}
.bllr1 input.zipcode {
	width:147px;
}
.bllr1 input.phone {
	width:54px;
}
.footer-btn {
	clear:both;
}
.footer-btn p {
	padding:13px 0 0 0;
	font-size:14px;
}
.footer-btn a.btn {
	float: right;
	margin: 15px 0 0;
	padding: 10px 25px;
}
.footer-btn p {
	color:#222;
}
.footer-btn p strong {
	color:#000;
}
/* TWCMS_Reg_Login_Find2 */
.error-box {
	background: url("../images/error2.jpg") no-repeat scroll 10px 10px transparent;
	border: 1px solid #CCCCCC;
	border-radius: 5px 5px 5px 5px;
	color: #DF1B22;
	font-size: 12px;
	margin: 0 auto 14px;
	padding: 7px 10px 7px 40px;
	width: 100%;
}
.bllr1.find2 {
	min-height:350px;
}
.bllr2.find2 {
	min-height:350px;
}
.bllr1.find2 label {
	padding-top:0
}
input.err {
}
.bllr2.find2 h1 {
	color:#00549f !important;
}
.bllr2.find2 label {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:18px;
	font-weight:bold;
	color:#111111;
	display:block;
	padding:0px 0 2px 0;
}
.bllr2.find2 input {
	padding:8px;
	margin-bottom:10px;
}
.bllr2.find2 input.acc {
	width:30%;
}
.info {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:16px;
	color:#111111;
	padding:0 18px 0 0;
	width:80%
}
.bllr2.find2 img {
	border: 2px solid #C3D8E7;
	height: auto;
	margin-top: 10px;
	width: 94%;
}
.or {
	background:url(../images/or-d.png) no-repeat;
	width:35px;
	height:35px;
	background-size:cover;
	margin-left:47%;
	position: absolute;
	top: 250px;
}
/* TWCMS_Reg_Login_Find4 */
.error {
	padding-bottom:8px;
}
/* TWCMS_Reg_Login_Find5 */
.bllr2.find2.find5 {
	float:left;
	background: url(../images/blr1.jpg) #f3f9ff top repeat-x;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
	width:100%;
	min-height:365px;
	padding:15px 0 15px 20px;
}
.bllr2.find2.find5 img {
	margin-top: 20px;
	width: 47%;
}
/* TWCMS_Reg_Login_Find3 */
.error-box.h2 {
	background: url("../images/error.jpg") no-repeat scroll 8px 7px transparent;
	padding:7px 29px 7px 47px;
}
.bllr2.h2 h1, .bllr1.h2 h1 {
	line-height:19px;
}
.bllr2.h2 ul {
	padding: 5px 23px 0 15px;
}
.bllr2.h2 ul li {
	line-height:16px;
	color:#111;
}
.bllr3.h2 {
	display:none;
}
h1.sitm {
	font-size:18px;
}
h1.waig {
	font-size:15px;
}
/* TWCMS_Reg_Login_Verify2 */
select.digits {
	width: 50%;
	margin-bottom: 10px;
	padding: 7px 8px 6px 8px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#898989;
}
.bllr2.h3 img {
	border:2px solid #c3d8e7;
	margin:0 auto;
	display:block;
	width:85%;
	height:auto;
}
input.digits {
	margin-bottom: 0;
	width: 50%;
}
.footer-btn.h3 p {
	padding: 23px 0 6px;
}
.bllr2.h3 h1 {
	font-size:16px;
}
/* TWCMS_Reg_Login_Verify1 */
.bllr1.h4 {
	width:100%;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
	min-height:280px;
}
.bllr1.h4 p {
	width:70%;
}
.footer-btn.h4 p {
	padding: 23px 0 6px;
}
/* TWCMS_Reg_Login_Verify3 */
.bllr1.h5 {
	width:100%;
	min-height:200px;
}
.bllr1.h5 p {
	width:265px;
}
/* TWCMS_Reg_Login_Profile3 */
.bllr1.h6 {
	width:100%;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
	min-height:280px;
	height:auto;
}
.bllr1.h6 p {
	width:85%;
	font-size:13px;
	color:#111;
}
.ch-list {
	padding-top:5px;
	padding-bottom:15px;
	clear:both;
}
.ch-list input {
	margin-bottom:0;
}
.bllr1.h6 input.digits {
	margin-bottom: 0;
	width:30%;
	float:left;
}
.bllr1.h6 .inp-list input.digits {
	margin-bottom:10px;
}
a.question {
	background:url(../images/question.png);
	display: block;
	float: left;
	height: 20px;
	margin: 6px 6px 6px 1%;
	width: 20px;
}
.bllr1.h6 label {
	clear:both;
}
.inp-list {
	margin-bottom:49px;
}
.ch-l {
	border-top:1px solid #e2eef5;
	clear:both;
	margin: 10px 20px 0 0;
	padding: 14px 0 5px;
}
.ch-l input {
	margin-bottom:0;
}
.question-hover {
	margin-left: 37%;
	position: absolute;
	margin-top: 2px;
}
.question-arrow {
	background:url(../images/arrow-l.png);
	width:23px;
	height:27px;
	display:block;
	position:absolute;
	left: -23px;
}
.question-box {
	background:#fff;
	box-shadow:0px 1px 2px #BEBEBE;
	width:91%;
	padding:10px;
	margin-top:-37px;
}
.question-box ul li {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:18px;
	color:#666666;
	padding-bottom:0px;
}
/* TWCMS_Reg_Login_Profile4 */
.error-box.h7 {
	background: url("../images/error.jpg") no-repeat scroll 10px 8px transparent;
	padding:7px 40px 7px 51px;
}
.error {
	clear:both;
	font-size:12px;
}
.bllr1.h6 .error.ms {
	display:none;
}
/* TWCMS_Reg_Login_Terms2 */
.print {
	border:1px solid #dadada;
	background:#fff;
	width:98%;
	display:block;
	box-shadow:5px 4px 8px -3px #E1E1E1 inset;
	padding:10px 20px;
	float:left;
	margin:13px 0 20px 0;
}
.print h1 {
	font-size:16px;
}
.bllr1.h6 .print p {
	width:100%;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:18px;
	color:#111111;
}
.bllr1.h6 .print h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#00549f;
	font-size:16px;
	line-height:30px;
}
.bllr1.h6 .print h1 {
	border-bottom: 1px solid #ADADAD;
	color: #000000 !important;
	margin-bottom: 10px;
	padding: 0 0 4px;
}
a.print-link {
	background: url("../images/print.jpg") no-repeat scroll right center transparent;
	float: right;
	padding: 11px 28px;
}
/* WCMS_Reg_Login_Security2 */
.bllr1.h6.h7 p {
	width:60%;
}
select.quest {
	width:30%;
	margin-bottom: 10px;
	padding: 7px 5px 6px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:normal;
	color:#000;
}
.question-box.h2 {
	margin-top: -10px;
}
.question-box.h2 {
	padding:4px;
}
.bllr1.h6.h7 label {
	font-size:14px;
}
