/* ==========================================================================
   CSS code for Buttons
   
   Author: Max Quattromani
   Version: 1.0 - Updated: 7/3/13
   ========================================================================== */
   
/*

 * Layout
 
 * Module
 
 * State
 
 * Theme
 
 * Browser Specific
 		* Safari/Chrome/Webkit
 		* Firefox
 		* Internet Explorer
 
 */
 
/* ==========================================================================
   Base
   ========================================================================== */
 


/* ==========================================================================
   Layout
   ========================================================================== */

/* layout styles are being handled by base main.css */



/* ==========================================================================
   Module
   ========================================================================== */

.btn.blue.share {
	background: #4F799F;
	margin-bottom: 1em;
}

.btn.blue.share:hover,
.btn.blue.share.hover{
	background: #265A83;
}

	.email-module:before {
		position: absolute;
		content: "";
		left: 48%;
		bottom: 100%;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent; 
		border-bottom: 8px solid #e1ebf5; }

/* ==========================
   Forms
   ========================== */

label { line-height: 2; }

input, 
textarea,
select {
	width: 100%;
	max-width: 100%;
	border: 1px solid #e6e6e7;
	border-radius: 2px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
	-webkit-appearance: none;
}  

.formrow {
	overflow: auto;
	display: block;
	margin: 1em 0;
}

.form-item {
	display: inline;
	margin-bottom: 1em;
}

/* ==========================================================================
   State
   ========================================================================== */
   
/* ==========================
   Browser Specific
   ========================== */

/* Firefox */

@-moz-document url-prefix() {

}

/* Webkit: Chrome/Safari */ 

@media screen and (-webkit-min-device-pixel-ratio:0) {
/* Webkit browsers add a 2px margin outside the chrome of form elements */

}

/* IE: 6/7/8/9 */
   
/* ie (.ie) */   

/* ie6 (.ie6) */

/* prevent BG image flicker upon hover */

/* ie7 (.ie7) */

/* ie8 (.ie8) */

/* ie9 (.ie9) */


/* ==========================
	Responsive Design
   ========================== */ 

/* Tablet */   

@media (max-width: 68.6875em) {
 
/* ==========================================================================
   Layout
   ========================================================================== */





/* ==========================================================================
   Module
   ========================================================================== */

  
   
/* ==========================================================================
   State
   ========================================================================== */




   
/* ==========================================================================
   Theme
   ========================================================================== */	

} /* End Tablet Breakpoint */
   
/* SmartPhone */   

@media (max-width: 31.25em) {

/* ==========================================================================
   Layout
   ========================================================================== */
 
 
 
 
   
/* ==========================================================================
   Module
   ========================================================================== */




/* ==========================================================================
   State
   ========================================================================== */
   
   
   
   
   
   
/* ==========================================================================
   Theme
   ========================================================================== */
  
  
  
  
   		
} /* End SmartPhone Breakpoint */

   
   
   
/* ==========================================================================
   Theme
   ========================================================================== */
    
