/* ==========================================================================
   CSS code for WiFi Portal - Subscriber Home
   
   Author: Max Quattromani
   Version: 1.0 - Updated: 8/22/13
   ========================================================================== */
   
/*

 * Layout
 
 * Module
 
 * State
 
 * Theme
 
 * Browser Specific
 		* Safari/Chrome/Webkit
 		* Firefox
 		* Internet Explorer
 
 */
 
/* ==========================================================================
   Base
   ========================================================================== */
 
/* base styles are being handled by base main.css */

/* ==========================================================================
   Layout
   ========================================================================== */

/* layout styles are being handled by base main.css */

/* ==========================================================================
   Module
   ========================================================================== */

h2.banner { margin: .5em 0 1em; }

.tab-content-section,
.right-rail ul li.expand-box { 
    border: 1px solid #e1e1e1;
    background-color: #ffffff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(224, 235, 245)));
    background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(224, 235, 245));
    background-image: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(224, 235, 245));
    background-image: -o-linear-gradient(top, rgb(255, 255, 255), rgb(224, 235, 245));
    background-image: -ms-linear-gradient(top, rgb(255, 255, 255), rgb(224, 235, 245));
    background-image: linear-gradient(top, rgb(255, 255, 255), rgb(224, 235, 245));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='#e0ebf5'); }
    
    .content-wrap { padding: 1em; }

    .content-wrap.secondary {
        background-color: #fcfdfc;
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(252, 253, 252)), to(rgb(231, 232, 234)));
        background-image: -webkit-linear-gradient(top, rgb(252, 253, 252), rgb(231, 232, 234));
        background-image: -moz-linear-gradient(top, rgb(252, 253, 252), rgb(231, 232, 234));
        background-image: -o-linear-gradient(top, rgb(252, 253, 252), rgb(231, 232, 234));
        background-image: -ms-linear-gradient(top, rgb(252, 253, 252), rgb(231, 232, 234));
        background-image: linear-gradient(top, rgb(252, 253, 252), rgb(231, 232, 234));
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fcfdfc', EndColorStr='#e7e8ea'); }

input[type="checkbox"] {
    float: left;
    margin: 0;
    margin-right: .5em; }

#guest-access { display: none; }

.faq-label {
    position: absolute;
	display: inline-block;
    top: .5em;
    right: .5em;
	font-size: 16px;
	font-size: 1.6rem;
	padding: 2px 5px; }
	
.faq-label:hover { cursor:pointer; }

.faq-label:hover .tooltip-popup {
	display: block !important; }

.tooltip {
  position: relative;
  display: inline-block;
  color: #3376b2;
  border-bottom: 1px dotted #3376b2;
  cursor: pointer; }

    .tooltip:hover { border-bottom-color: #1b405d; }

.tooltip-wrap p {
	font-size: 12px; }
	 
.tooltip-popup.bottom .tooltip-wrap {
	background-color: #EAEFF1;
	background-image: linear-gradient(to bottom, #F3F7FB 0%, #FFFFFF 100%);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F3F7FB), to(#FFFFFF)); }

.tooltip-wrap p {
	font-size: 12px;
}
.tooltip-popup {
	display: none;
	overflow: hidden;
	position: absolute;
	width: 180px;
	z-index: 1999;
}
.tooltip-popup.bottom .tooltip-wrap {
	background-color: #EAEFF1;
	background-image: linear-gradient(to bottom, #F3F7FB 0%, #FFFFFF 100%);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F3F7FB), to(#FFFFFF));
}
.tooltip-popup .tooltip-wrap {
	border: 3px solid white;
	color: #444444;
	font-size: 13px;
	line-height: 18px;
	padding: 8px;
	z-index: 1;
}
.tooltip-popup.bottom .tooltip-wrap:after {
	border-top: 9px solid #FFFFFF;
	bottom: -6px;
}
	
.tooltip-popup .tooltip-wrap {
	border: 3px solid white;
	color: #444444;
	font-size: 13px;
	line-height: 18px;
	padding: 8px;
	z-index: 1; }

.tooltip-popup {
    display: none;
    top: -5em;
    left: -78px;
    position: absolute;
    z-index: 1999;
    width: 180px;
    overflow: hidden; }
  
  .tooltip-popup .tooltip-content:before, .tooltip-popup .tooltip-wrap:before, .tooltip-popup .tooltip-wrap:after {
        display: block;
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-style: solid; }
    
    .tooltip-popup.bottom .tooltip-content:before,
    .tooltip-popup.bottom .tooltip-wrap:before,
    .tooltip-popup.bottom .tooltip-wrap:after {
        border-left-color: rgba(255, 255, 255, 0);
        border-right-color: rgba(255, 255, 255, 0);
        left: 50%; }

.tooltip-popup .tooltip-content {
    border: 1px solid #999;
    position: relative; }

.tooltip-popup .tooltip-wrap {
    color: #444;
    font-size: 13px;
    line-height: 18px;
    border: 3px solid white;
    padding: 10px;
    z-index: 1; }
    
.tooltip-popup .tooltip-wrap:before, 
.tooltip-popup .tooltip-wrap:after { z-index: 2; }

.tooltip-popup header {
    font-weight: bold;
    font-size: 15px;
    color: #222;
    margin: 0 0 5px; }
    
.tooltip-popup.bottom .tooltip-content:before {
    border-left-width: 12px;
    border-right-width: 12px;
    margin-left: -12px; }
    
.tooltip-popup.bottom .tooltip-wrap {
    background-color: #eaeff1;
    background-image: -moz-linear-gradient(270deg, #e0e7eb 0%, #f5f7f8 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0e7eb), color-stop(100%, #f5f7f8));
    background-image: -webkit-linear-gradient(270deg, #e0e7eb 0%, #f5f7f8 100%);
    background-image: -o-linear-gradient(270deg, #e0e7eb 0%, #f5f7f8 100%);
    background-image: -ms-linear-gradient(270deg, #e0e7eb 0%, #f5f7f8 100%);
    background-image: linear-gradient(to bottom, #e0e7eb 0%, #f5f7f8 100%); }

.tooltip-popup.bottom .tooltip-wrap:before {
    border-left-width: 11px;
    border-right-width: 11px;
    margin-left: -11px; }

.tooltip-popup.bottom .tooltip-wrap:after {
    border-left-width: 9px;
    border-right-width: 9px;
    margin-left: -9px; }

.tooltip-popup.bottom { padding-bottom: 12px; }

.tooltip-popup.bottom .tooltip-content:before,
.tooltip-popup.bottom .tooltip-wrap:before,
.tooltip-popup.bottom .tooltip-wrap:after { border-bottom: 0; }

.tooltip-popup.bottom .tooltip-content:before {
    border-top: 12px solid #999999;
    bottom: -12px; }
    
.tooltip-popup.bottom .tooltip-wrap:before {
    border-top: 11px solid white;
    bottom: -11px; }

.tooltip-popup.bottom .tooltip-wrap:after {
    border-top: 9px solid #f5f7f8;
    bottom: -6px; }

.twc-content li { 
    padding: 1em;
    border-bottom: 1px dotted #ccc; }

.tabs ul li { border-bottom: none; }

li.expand-box { padding: 0; }

li.expand-box header { 
    padding: 1em;
    cursor: pointer; }

	li.expand-box a:after {
		float: right;
		font-family: 'FontAwesome', sans-serif;
		font-size: 18px;
		font-size: 1.8rem;
		content:'\f107';
		-webkit-transition: all .4s ease-in-out;
    	   -moz-transition: all .4s ease-in-out;
    	   	 	transition: all .4s ease-in-out; }
    
    li.expand-box ul {
        display: none; 
        border-top: 1px solid #e1e1e1; }
    
    li.expand-box.expanded a:after { transform: rotate(180deg); }	   	 			

    li.twc-last { border-bottom: none; } 

li.expand-box header a.h5 { color: #3376B2;}

.answers p { margin-top: 1em; }

.modal-header { 
    padding: 1em;
    background: #f0f2f5; }

.modal-body { 
    overflow: auto;
    padding: 1em 3em; }

.modal-footer { 
    overflow: auto;
    padding: 1em; }

[class*='twc-col2_5050-c'] {
    position: relative; 
    width: 50%;
    margin: 0; }
    
    [class*='twc-col2_5050-c0'] { padding-right: 1em; }   
    
    [class*='twc-col2_5050-c1'] { padding-left: 1em; } 

[class*='twc-col2_5050-c0'].border { border-right: 1px solid #ccc; }

[class*='twc-col2_5050-c1'].border { border-left: 1px solid #ccc; }

.modal { 
    position: relative;
    margin: 5em;
    padding: 0;
    background: #fff; }

div.close { 
    top: .25em;
    right: .25em; }

.margin-three-em { 
    display: block;
    margin: 3em 0; }

.twc-header li { padding: 0; }

.twc-header li .btn { vertical-align: text-bottom; }

.tos { 
    overflow: auto;
    height: 300px;
    padding: 1em;
    border: 1px solid #ccc;
    background: #fff; }

.tos li { border-bottom: none; }

/* ==========================
	Tabs
   ========================== */ 

.tabs { 
	display: table;
	width: 100%;
	border-radius: 3px; }
	
.tabs ul { display: table-row; }

	.tabs li.active {
		background: transparent;
		color: #222; }
	
		.tabs li.active a { color: #222; }
	
.tabs li { 
	display: table-cell;
	position: relative; 
	width: 50%;
	padding: 1em;
	background-color: #3779b3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3779b3), to(#02447e));
	background-image: -webkit-linear-gradient(top, #3779b3, #02447e);
	background-image: -moz-linear-gradient(top, #3779b3, #02447e);
	background-image: -o-linear-gradient(top, #3779b3, #02447e);
	background-image: -ms-linear-gradient(top, #3779b3, #02447e);
	background-image: linear-gradient(top, #3779b3, #02447e);
	color: #fff;
	text-align: center;
	vertical-align: middle;
	cursor: pointer; }

	.tabs li a {
		display: inline-block;
		position: relative;
		font-family: 'TWC Round Book',Arial,Sans-Serif;
		font-weight: normal;
		text-decoration: none;
		color: #fff; }

	.tabs li:first-child { border-radius: 3px 0 0 0; }
	
	.tabs li:last-child { border-radius: 0 3px 0 0; }
	
.tab-content { padding: 1em 0;}

.access-box { 
    padding: 1em;
    border: 1px solid #e1e1e1;
    background-color: #f2f2f2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(242, 242, 242)), to(rgb(255, 255, 255)));
    background-image: -webkit-linear-gradient(top, rgb(242, 242, 242), rgb(255, 255, 255));
    background-image: -moz-linear-gradient(top, rgb(242, 242, 242), rgb(255, 255, 255));
    background-image: -o-linear-gradient(top, rgb(242, 242, 242), rgb(255, 255, 255));
    background-image: -ms-linear-gradient(top, rgb(242, 242, 242), rgb(255, 255, 255));
    background-image: linear-gradient(top, rgb(242, 242, 242), rgb(255, 255, 255));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f2f2f2', EndColorStr='#ffffff'); }

.access-box h3 { 
    float: left;
    width: 50%;
    padding: 1em; }

.access-box figure { 
    float: left;
    width: 50%;
    margin-bottom: 0;
    padding: 1em; }

.access-box h6 {
    margin-bottom: 1.5em;
    color: #333; }

.white-box { 
    min-height: 150px;
    width: 100%;
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid #ccc;
    background: #fff; }

.grey-box { 
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid #ccc;
    background: #eeeeee; }

    .grey-box li { padding: .5em; }

.blue-box { 
    padding: 1em 2em;
    background: #3376B2;
    color: #fff; }

.contact-information li { 
    display: inline-block;
    border-bottom: 0; }

.contact-information b.label { 
    float: left;
    min-width: 65px; }

.contact-information span { float: left; }

/* ==========================
    Forms
   ========================== */

fieldset { border: 0; }

label { display: block; }

input[type=checkbox] + label { margin-left: 2em; }

input[type=checkbox] {
	width: 1em;
	height: 1em;
	padding: 0;
	border: 0;
	font-size: 16px;
	font-size: 1.6rem;
	-webkit-appearance: checkbox; }

/* ==========================================================================
   State
   ========================================================================== */
   
/* ==========================
   Browser Specific
   ========================== */

/* Firefox */

@-moz-document url-prefix() {

}

/* Webkit: Chrome/Safari */ 

@media screen and (-webkit-min-device-pixel-ratio:0) {
/* Webkit browsers add a 2px margin outside the chrome of form elements */

}

/* IE: 6/7/8/9 */
   
/* ie (.ie) */   

/* ie6 (.ie6) */

/* prevent BG image flicker upon hover */

/* ie7 (.ie7) */

/* ie8 (.ie8) */

/* ie9 (.ie9) */


/* ==========================
	Responsive Design
   ========================== */ 

/* Tablet */   

@media (max-width: 68.6875em) {
 
/* ==========================================================================
   Layout
   ========================================================================== */


/* ==========================================================================
   Module
   ========================================================================== */

#logoHeader.twc-header ul.horizontal li { display: block; }

.tab-content-section { margin-bottom: 1em; }
   
/* ==========================================================================
   State
   ========================================================================== */


/* ==========================================================================
   Theme
   ========================================================================== */	

} /* End Tablet Breakpoint */
   
/* SmartPhone */   

@media (max-width: 31.25em) {

/* ==========================================================================
   Layout
   ========================================================================== */
 
 
/* ==========================================================================
   Module
   ========================================================================== */

#logoHeader.twc-header span.h1 {
    font-size: 24px;
    font-size: 2.4rem;}

.twc-container { padding: .5em 2%; }

.twc-box-column { margin-bottom: 0; }

h2.banner { margin: 0 0 .5em; }

[class*='twc-col2_5050-c'] { width: 100%; }
    
    [class*='twc-col2_5050-c0'] { padding-right: 0; }   
    
    [class*='twc-col2_5050-c1'] { padding-left: 0; } 

[class*='twc-col2_5050-c0'].border { border-right: none; }

[class*='twc-col2_5050-c1'].border { border-left: none; }

.access-box h3 { margin-bottom: 0; }

    .right-rail li.expand-box li { width: 100%; }

    .right-rail li:not(.expand-box).twc-last { border-right: none; }

figure { 
    margin: 0;
    text-align: center; }
    
    figure img { margin: 0; }

.modal { margin: 0; }

/* ==========================================================================
   State
   ========================================================================== */
   
   
/* ==========================================================================
   Theme
   ========================================================================== */
  
   		
} /* End SmartPhone Breakpoint */


/* ==========================================================================
   Theme
   ========================================================================== */
    