/* ==========================================================================
    CSS Code for the Accordion module
   
    Author: Max Quattromani
    Version: 1.8.9.9 - Updated: 9/26/2013
   ========================================================================== */
/* ==========================================================================
    Layout
   ========================================================================== */
/* ==========================================================================
    Module
   ========================================================================== */
.expandable li h6 {
  margin-bottom: 0;
  padding: .5em;
  border-bottom: 1px solid #e1e1e1;
  background-color: #3779b3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3779b3), to(#02447e));
  background-image: -webkit-linear-gradient(top, #3779b3, #02447e);
  background-image: -moz-linear-gradient(top, #3779b3, #02447e);
  background-image: -o-linear-gradient(top, #3779b3, #02447e);
  background-image: -ms-linear-gradient(top, #3779b3, #02447e);
  background-image: linear-gradient(top, #3779b3, #02447e);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3779b3', EndColorStr='#02447e');
  color: #fff; }
.expandable li.notexpandable h6:after {
  float: right;
  font-family: 'FontAwesome', sans-serif;
  content: '\f105';
  color: inherit; }
.expandable li.expandable h6:after {
  float: right;
  font-family: 'FontAwesome', sans-serif;
  content: '\f107';
  color: inherit; }
.expandable li.expandable.active h6:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }
.expandable li ul {
  display: none;
  border-right: 1px solid #e1e1e1; }
.expandable li li {
  padding: .5em;
  border-bottom: 1px dotted #e1e1e1; }
.expandable li.twc-last {
  border-bottom: none; }

/* ==========================================================================
    State
   ========================================================================== */
/* ==========================================================================
    Theme
   ========================================================================== */
/* ==========================
    Browser Specific
   ========================== */
/* Firefox */
@-moz-document url-prefix() {}
/* Webkit: Chrome/Safari */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Webkit browsers add a 2px margin outside the chrome of form elements */ }
/* IE:8/9 */
/* ie (.ie) */
/* ie8 (.ie8) */
/* ie9 (.ie9) */
/* ==========================
    Responsive Design
   ========================== */
/* ==========================
    Tablet
   ========================== */
@media (max-width: 68.6875em) {
  /* ==========================================================================
      Layout
     ========================================================================== */
  /* ==========================================================================
      Module
     ========================================================================== */
  /* ==========================================================================
      State
     ========================================================================== */
  /* ==========================================================================
      Theme
     ========================================================================== */ }
/* ==========================
    Smartphone
   ========================== */
@media (max-width: 31.25em) {
  /* ==========================================================================
      Layout
     ========================================================================== */
  /* ==========================================================================
      Module
     ========================================================================== */
  /* ==========================================================================
      State
     ========================================================================== */
  /* ==========================================================================
      Theme
     ========================================================================== */ }
