/* ==========================================================================
    CSS Code for all alerts
   
    Author: Max Quattromani
    Version: 1.8.9.9 - Updated: 9/26/2013
   ========================================================================== */
/* ==========================================================================
    Layout
   ========================================================================== */
/* ==========================================================================
    Module
   ========================================================================== */
.twc-alert {
  border-bottom: 1px solid #eeeeef;
  background: #d14853;
  box-shadow: inset 0 -10px 14px 0 rgba(0, 0, 0, 0.2);
  color: #fff; }

p.twc-alert-text {
  font-family: 'Arial', sans-serif; }

.twc-alert-section ul {
  margin-bottom: 0; }

.twc-customerLocation p.twc-alert-text:before, .twc-alert-section p.twc-alert-text:before {
  padding-right: 10px;
  font-family: 'FontAwesome', sans-serif;
  content: '\f071';
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: 100;
  color: #f6b42a;
  text-shadow: 0 1px 3px #333;
  vertical-align: middle; }

.twc-alert .twc-alert-text {
  margin-bottom: 0; }

.twc-alert-close:after {
  position: absolute;
  top: 1em;
  right: 0;
  content: '\f057';
  font-weight: lighter; }

a.twc-icon:hover {
  color: inherit; }

p.twc-alert-text.twc-container {
  position: relative;
  padding: 1em 2em 1em 0; }

/* ==========================================================================
    State
   ========================================================================== */
/* ==========================================================================
    Theme
   ========================================================================== */
/* ==========================
    Browser Specific
   ========================== */
/* Firefox */
@-moz-document url-prefix() {}
/* Webkit: Chrome/Safari */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Webkit browsers add a 2px margin outside the chrome of form elements */ }
/* IE:8/9 */
/* ie (.ie) */
/* ie8 (.ie8) */
/* ie9 (.ie9) */
/* ==========================
    Responsive Design
   ========================== */
/* ==========================
    Tablet
   ========================== */
@media (max-width: 68.6875em) {
  /* ==========================================================================
      Layout
     ========================================================================== */
  /* ==========================================================================
      Module
     ========================================================================== */
  /* ==========================
      Alerts
     ========================== */
  .twc-alert .twc-container {
    padding: 1em 4%; }

  p.twc-alert-text.twc-container {
    padding: 1em 10% 1em 4%; }

  .twc-alert-close:after {
    top: .5em;
    right: 4%;
    font-size: 24px;
    font-size: 2.4rem; }

  /* ==========================================================================
      State
     ========================================================================== */
  /* ==========================================================================
      Theme
     ========================================================================== */ }
/* ==========================
    Smartphone
   ========================== */
@media (max-width: 31.25em) {
  /* ==========================================================================
      Layout
     ========================================================================== */
  /* ==========================================================================
      Module
     ========================================================================== */
  .twc-alert-text:before {
    font-size: 18px;
    font-size: 1.8rem;
    vertical-align: baseline; }

  .twc-content {
    padding-top: 0; }

  /* ==========================================================================
      State
     ========================================================================== */
  /* ==========================================================================
      Theme
     ========================================================================== */ }
