/* ==========================================================================
    CSS Code for the Buttons module
   
    Author: Max Quattromani
    Version: 1.8.9.9 - Updated: 9/26/2013
   ========================================================================== */
/* ==========================================================================
    Layout
   ========================================================================== */
/* ==========================================================================
    Module
   ========================================================================== */
.btn a, .cta a {
  display: inline-block;
  padding: .675em 1em;
  border-radius: 3px;
  border: none;
  background: none;
  font-family: 'TWC Round Medium',Arial,Sans-Serif;
  font-weight: 100;
  text-align: center;
  cursor: pointer; }

.btn a, .btn button, .btn input, .btn label {
  padding: 0;
  border: none;
  background: none;
  font-family: 'TWC Round Medium',Arial,Sans-Serif;
  font-weight: 100; }

/* Blue Buttons */
.btn.blue, .cta.blue, .btn.omega, .cta.omega {
  background-color: #3779b3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3779b3), to(#02447e));
  background-image: -webkit-linear-gradient(top, #3779b3, #02447e);
  background-image: -moz-linear-gradient(top, #3779b3, #02447e);
  background-image: -o-linear-gradient(top, #3779b3, #02447e);
  background-image: -ms-linear-gradient(top, #3779b3, #02447e);
  background-image: linear-gradient(top, #3779b3, #02447e);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3779b3', EndColorStr='#02447e');
  color: #fff; }

.btn.blue a, .cta.blue a, .btn.blue button, .cta.blue button, .btn.blue input, .cta.blue input {
  color: #fff; }

.btn.blue:hover, .btn.blue.hover {
  color: #fff; }

.cta.blue:hover, .cta.blue.hover {
  color: #fff; }

.btn.omega a, .cta.omega a, .btn.omega button, .cta.omega button, .btn.omega input, .cta.omega input {
  color: #fff; }

.btn.omega:hover, .btn.omega.hover {
  background-color: #265a83;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#265a83), to(#1b405e));
  background-image: -webkit-linear-gradient(top, #265a83, #1b405e);
  background-image: -moz-linear-gradient(top, #265a83, #1b405e);
  background-image: -o-linear-gradient(top, #265a83, #1b405e);
  background-image: -ms-linear-gradient(top, #265a83, #1b405e);
  background-image: linear-gradient(top, #265a83, #1b405e);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#265a83', EndColorStr='#1b405e');
  color: #fff; }

.cta.omega:hover, .cta.omega.hover {
  background-color: #265a83;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#265a83), to(#1b405e));
  background-image: -webkit-linear-gradient(top, #265a83, #1b405e);
  background-image: -moz-linear-gradient(top, #265a83, #1b405e);
  background-image: -o-linear-gradient(top, #265a83, #1b405e);
  background-image: -ms-linear-gradient(top, #265a83, #1b405e);
  background-image: linear-gradient(top, #265a83, #1b405e);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#265a83', EndColorStr='#1b405e');
  color: #fff; }

.btn.blue:active, .btn.blue.active, .btn.blue:focus {
  background: #444545;
  background-image: 0; }

.cta.blue:active, .cta.blue.active, .cta.blue:focus {
  background: #444545;
  background-image: 0; }

.btn.omega:active, .btn.omega.active, .btn.omega:focus {
  background: #444545;
  background-image: 0; }

.cta.omega:active, .cta.omega.active, .cta.omega:focus {
  background: #444545;
  background-image: 0; }

.btn.black, .cta.black {
  background-color: #3e3e3e;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3e3e3e), color-stop(100%, #2b2b2b));
  background-image: -webkit-linear-gradient(top, #3e3e3e 0%, #2b2b2b 100%);
  background-image: -moz-linear-gradient(top, #3e3e3e 0%, #2b2b2b 100%);
  background-image: -ms-linear-gradient(top, #3e3e3e 0%, #2b2b2b 100%);
  background-image: -o-linear-gradient(top, #3e3e3e 0%, #2b2b2b 100%);
  background-image: linear-gradient(top, #3e3e3e 0%, #2b2b2b 100%);
  color: #fff; }

.btn.black a, .cta.black a, .btn.black button, .cta.black button, .btn.black input, .cta.black input {
  color: #fff; }

.btn.black:hover, .btn.black.hover {
  background-color: #797979;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #797979), color-stop(100%, #6c6c6c));
  background-image: -webkit-linear-gradient(top, #797979 0%, #6c6c6c 100%);
  background-image: -moz-linear-gradient(top, #797979 0%, #6c6c6c 100%);
  background-image: -ms-linear-gradient(top, #797979 0%, #6c6c6c 100%);
  background-image: -o-linear-gradient(top, #797979 0%, #6c6c6c 100%);
  background-image: linear-gradient(top, #797979 0%, #6c6c6c 100%);
  color: #fff; }

.cta.black:hover, .cta.black.hover {
  background-color: #797979;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #797979), color-stop(100%, #6c6c6c));
  background-image: -webkit-linear-gradient(top, #797979 0%, #6c6c6c 100%);
  background-image: -moz-linear-gradient(top, #797979 0%, #6c6c6c 100%);
  background-image: -ms-linear-gradient(top, #797979 0%, #6c6c6c 100%);
  background-image: -o-linear-gradient(top, #797979 0%, #6c6c6c 100%);
  background-image: linear-gradient(top, #797979 0%, #6c6c6c 100%);
  color: #fff; }

.btn.black:active, .btn.black.active, .btn.black:focus {
  background: #2b2b2b;
  background-image: 0; }

.cta.black:active, .cta.black.active, .cta.black:focus {
  background: #2b2b2b;
  background-image: 0; }

.btn.block, .cta.block {
  display: block; }

.btn.badge, .cta.badge {
  height: 40px;
  width: 40px;
  border-radius: 20px; }

/* Buttons with checkbox */
.btn input[type="checkbox"], .cta input[type="checkbox"] {
  float: right;
  margin: 0;
  margin-left: .5em; }

.btn.blue.checked, .cta.blue.checked, .btn.blue.checked, .cta.blue.checked {
  background-color: #19a919;
  background-image: -moz-linear-gradient(270deg, #33cc33 0%, #008700 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #33cc33), color-stop(100%, #008700));
  background-image: -webkit-linear-gradient(270deg, #33cc33 0%, #008700 100%);
  background-image: -o-linear-gradient(270deg, #33cc33 0%, #008700 100%);
  background-image: -ms-linear-gradient(270deg, #33cc33 0%, #008700 100%);
  background-image: linear-gradient(to bottom, #33cc33 0%, #008700 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF33CC33', endColorstr='#FF008700',GradientType=0); }

.btn.blue[disabled], .btn.omega[disabled], .cta.blue[disabled], .cta.omega[disabled] {
  background-color: #bcbcbc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bcbcbc), to(#838383));
  background-image: -webkit-linear-gradient(top, #bcbcbc, #838383);
  background-image: -moz-linear-gradient(top, #bcbcbc, #838383);
  background-image: -o-linear-gradient(top, #bcbcbc, #838383);
  background-image: -ms-linear-gradient(top, #bcbcbc, #838383);
  background-image: linear-gradient(top, #bcbcbc, #838383);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#bcbcbc', EndColorStr='#838383'); }
  .btn.blue[disabled]:hover, .btn.blue[disabled]:active, .btn.omega[disabled]:hover, .btn.omega[disabled]:active, .cta.blue[disabled]:hover, .cta.blue[disabled]:active, .cta.omega[disabled]:hover, .cta.omega[disabled]:active {
    background-color: #bcbcbc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#bcbcbc), to(#838383));
    background-image: -webkit-linear-gradient(top, #bcbcbc, #838383);
    background-image: -moz-linear-gradient(top, #bcbcbc, #838383);
    background-image: -o-linear-gradient(top, #bcbcbc, #838383);
    background-image: -ms-linear-gradient(top, #bcbcbc, #838383);
    background-image: linear-gradient(top, #bcbcbc, #838383);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#bcbcbc', EndColorStr='#838383'); }
.btn.blue.disabled, .btn.omega.disabled, .cta.blue.disabled, .cta.omega.disabled {
  background-color: #bcbcbc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bcbcbc), to(#838383));
  background-image: -webkit-linear-gradient(top, #bcbcbc, #838383);
  background-image: -moz-linear-gradient(top, #bcbcbc, #838383);
  background-image: -o-linear-gradient(top, #bcbcbc, #838383);
  background-image: -ms-linear-gradient(top, #bcbcbc, #838383);
  background-image: linear-gradient(top, #bcbcbc, #838383);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#bcbcbc', EndColorStr='#838383'); }

.cta.omega[disabled] {
  background-color: #bcbcbc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bcbcbc), to(#838383));
  background-image: -webkit-linear-gradient(top, #bcbcbc, #838383);
  background-image: -moz-linear-gradient(top, #bcbcbc, #838383);
  background-image: -o-linear-gradient(top, #bcbcbc, #838383);
  background-image: -ms-linear-gradient(top, #bcbcbc, #838383);
  background-image: linear-gradient(top, #bcbcbc, #838383);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#bcbcbc', EndColorStr='#838383'); }
  .cta.omega[disabled]:hover, .cta.omega[disabled]:active {
    background-color: #bcbcbc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#bcbcbc), to(#838383));
    background-image: -webkit-linear-gradient(top, #bcbcbc, #838383);
    background-image: -moz-linear-gradient(top, #bcbcbc, #838383);
    background-image: -o-linear-gradient(top, #bcbcbc, #838383);
    background-image: -ms-linear-gradient(top, #bcbcbc, #838383);
    background-image: linear-gradient(top, #bcbcbc, #838383);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#bcbcbc', EndColorStr='#838383'); }
.cta.omega.disabled {
  background-color: #bcbcbc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bcbcbc), to(#838383));
  background-image: -webkit-linear-gradient(top, #bcbcbc, #838383);
  background-image: -moz-linear-gradient(top, #bcbcbc, #838383);
  background-image: -o-linear-gradient(top, #bcbcbc, #838383);
  background-image: -ms-linear-gradient(top, #bcbcbc, #838383);
  background-image: linear-gradient(top, #bcbcbc, #838383);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#bcbcbc', EndColorStr='#838383'); }

[disabled]:hover, .disabled:hover {
  cursor: default; }

/* Buttons with Icons */
.twc-icon-after[class*='icon-']:before {
  float: right;
  margin-left: .5em; }

.twc-icon-before[class*='icon-']:before {
  margin-right: .5em; }

/* ==========================
	Flag
   ========================== */
.flag {
  border-radius: 0;
  background: #cf0004;
  font-family: 'TWC Round Light',Arial,Sans-Serif;
  color: #fff; }

.btn.flag {
  padding: .375em 1em; }

/* ==========================================================================
    State
   ========================================================================== */
/* ==========================================================================
    Theme
   ========================================================================== */
/* ==========================
    Browser Specific
   ========================== */
/* Firefox */
@-moz-document url-prefix() {
  /* Remove button padding in FF */
  button::-moz-focus-inner {
    padding: 0;
    border: 0 none; }

  input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner {
    padding: 0;
    border: 0 none; } }

/* Webkit: Chrome/Safari */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Webkit browsers add a 2px margin outside the chrome of form elements */ }
/* IE:8/9 */
/* ie (.twc-ie) */
/* make buttons play nice in IE */
.twc-ie button {
  overflow: visible;
  width: auto; }

/* ie (.ie) */
/* ie8 (.ie8) */
/* ie9 (.ie9) */
/* ==========================
    Responsive Design
   ========================== */
/* ==========================
    Tablet
   ========================== */
@media (max-width: 68.6875em) {
  /* ==========================================================================
      Layout
     ========================================================================== */
  /* ==========================================================================
      Module
     ========================================================================== */
  /* ==========================================================================
      State
     ========================================================================== */
  /* ==========================================================================
      Theme
     ========================================================================== */ }
/* ==========================
    Smartphone
   ========================== */
@media (max-width: 31.25em) {
  /* ==========================================================================
      Layout
     ========================================================================== */
  /* ==========================================================================
      Module
     ========================================================================== */
  .btn.mobile-full {
    display: block;
    text-align: center; }

  .cta.mobile-full {
    display: block;
    text-align: center; }

  /* ==========================================================================
      State
     ========================================================================== */
  /* ==========================================================================
      Theme
     ========================================================================== */ }
