/* ==========================================================================
    CSS Code for all site-wide Helper Class items
   
    Author: Max Quattromani
    Version: 1.8.9.9 - Updated: 9/26/2013
   ========================================================================== */
/* ==========================================================================
    Layout
   ========================================================================== */
/* ==========================================================================
    Module
   ========================================================================== */
.clear {
  clear: both; }

.left, .twc-left {
  float: left; }

.right, .twc-right {
  float: right; }

.text-left {
  text-align: left; }

.text-center, .text-centered {
  text-align: center;
  clear: both; }

.text-right {
  text-align: right; }

.text-bold {
  font-weight: bold; }

.text-muted, .muted {
  color: #999; }

.text-warning, .text-error {
  color: #ff0033; }

.text-info {
  color: #3fa1b2; }

.text-success {
  color: #159918; }

.image-left {
  float: left;
  margin-right: 1em; }

.image-center {
  margin: 0 auto;
  text-align: center; }

.image-right {
  float: right;
  margin-left: 1em; }

.nowrap {
  overflow: hidden; }

.hidden, .desktop-hidden {
  display: none; }

.invisible {
  visibility: hidden; }

.twc-last {
  border-bottom: 0; }

/* ==========================================================================
    State
   ========================================================================== */
/* ==========================================================================
    Theme
   ========================================================================== */
/* ==========================
    Browser Specific
   ========================== */
/* Firefox */
@-moz-document url-prefix() {}
/* Webkit: Chrome/Safari */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Webkit browsers add a 2px margin outside the chrome of form elements */ }
/* IE:8/9 */
/* ie (.ie) */
/* ie8 (.ie8) */
/* ie9 (.ie9) */
/* ==========================
    Responsive Design
   ========================== */
/* ==========================
    Tablet
   ========================== */
@media (max-width: 68.6875em) {
  .tablet-hidden {
    display: none !important; }

  .desktop-hidden {
    display: block; }

  /* ==========================================================================
      Layout
     ========================================================================== */
  /* ==========================================================================
      Module
     ========================================================================== */
  /* ==========================================================================
      State
     ========================================================================== */
  /* ==========================================================================
      Theme
     ========================================================================== */ }
/* ==========================
    Smartphone
   ========================== */
@media (max-width: 31.25em) {
  /* ==========================================================================
      Layout
     ========================================================================== */
  /* ==========================================================================
      Module
     ========================================================================== */
  .mobile-hidden {
    display: none !important; }

  .mobile-full {
    display: block;
    float: none; }

  /* ==========================================================================
      State
     ========================================================================== */
  /* ==========================================================================
      Theme
     ========================================================================== */ }
