/* ==========================================================================
   CSS Code for all layout elements
   
   Author: Max Quattromani
   Version: 1.8.9.9 - Updated: 9/26/2013
   ========================================================================== */
/*

 * Layout
 
 * Column Control
  
 */
/* ==========================================================================
    Layout
   ========================================================================== */
.twc-full {
  width: 100%; }

.twc-container {
  display: block;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 2em 0;
  overflow: visible; }

.twc-content {
  overflow: auto; }

/* ==========================
    Column Control
   ========================== */
.columnControl {
  clear: both; }

.parsys_column {
  float: left;
  width: 100%;
  margin-left: 2.5%;
  border: 0;
  -webkit-background-clip: padding-box !important;
  -moz-background-clip: padding-box !important;
  background-clip: padding-box !important; }

.columnControl > .parsys_column, .columnControl .parsys_column .parsys0 {
  margin-top: 0;
  margin-left: 0; }

.columnClear {
  clear: both; }

.marginless {
  margin-left: 0; }

.push {
  float: right;
  margin-left: 0; }

.pull {
  float: left;
  margin-left: 0; }

/* ==========================
    100
   ========================== */
[class*='twc-col1_100-c'] {
  width: 100%; }

/* ==========================
    2 Column Layouts
   ========================== */
/* ==========================
    50/50
   ========================== */
[class*='twc-col2_5050-c'] {
  width: 48.75%; }
  [class*='twc-col2_5050-c'].marginless {
    width: 50%; }

/* ==========================
    55/45 * 45/55
   ========================== */
[class*='twc-col2_5545-c'] {
  width: 43.75%; }

[class*='twc-col2_5545-c0'], [class*='twc-col2_4555-c'] {
  width: 53.75%; }

[class*='twc-col2_4555-c0'] {
  width: 43.75%; }

/* ==========================
    60/40 * 40/60
   ========================== */
[class*='twc-col2_6040-c'] {
  width: 38.75%; }
  [class*='twc-col2_6040-c'].marginless {
    width: 40%; }

[class*='twc-col2_6040-c0'] {
  width: 58.75%; }
  [class*='twc-col2_6040-c0'].marginless {
    width: 60%; }

[class*='twc-col2_4060-c'] {
  width: 58.75%; }

[class*='twc-col2_4060-c0'] {
  width: 38.75%; }

/* ==========================
    The Golden Ratio
   ========================== */
[class*='twc-col2_6238-c'] {
  width: 36.75%; }
  [class*='twc-col2_6238-c'].marginless {
    width: 38%; }

[class*='twc-col2_6238-c0'] {
  width: 60.75%; }
  [class*='twc-col2_6238-c0'].marginless {
    width: 62%; }

[class*='twc-col2_3862-c'] {
  width: 60.75%; }

[class*='twc-col2_3862-c0'] {
  width: 36.75%; }

/* ==========================
    67/33 * 33/67
   ========================== */
[class*='twc-col2_6733-c'] {
  width: 31.75%; }

[class*='twc-col2_6733-c0'], [class*='twc-col2_3367-c'] {
  width: 65.75%; }

[class*='twc-col2_3367-c0'] {
  width: 31.75%; }

/* ==========================
    70/30 * 30/70
   ========================== */
[class*='twc-col2_7030-c'] {
  width: 28.75%; }

[class*='twc-col2_7030-c0'], [class*='twc-col2_3070-c'] {
  width: 68.75%; }

[class*='twc-col2_3070-c0'] {
  width: 28.75%; }

/* ==========================
    75/25 * 25/75
   ========================== */
[class*='twc-col2_7525-c'] {
  width: 23.75%; }
  [class*='twc-col2_7525-c'].marginless {
    width: 25%; }

[class*='twc-col2_7525-c0'] {
  width: 73.75%; }
  [class*='twc-col2_7525-c0'].marginless {
    width: 75%; }

[class*='twc-col2_2575-c'] {
  width: 73.75%; }

[class*='twc-col2_2575-c0'] {
  width: 23.75%; }

/* ==========================
    76/24 * 24/76
   ========================== */
[class*='twc-col2_7624-c'] {
  width: 22.75%; }

[class*='twc-col2_7624-c0'], [class*='twc-col2_2476-c'] {
  width: 74.75%; }

[class*='twc-col2_2476-c0'] {
  width: 22.75%; }

/* ==========================
    82/18
   ========================== */
[class*='twc-col2_8218-c'] {
  width: 18%;
  margin: 0; }

[class*='twc-col2_8218-c1'] {
  padding-left: 1em; }

[class*='twc-col2_8218-c0'] {
  width: 82%; }

/* ==========================
    3 Column Layouts
   ========================== */
/* ==========================
    14/72/14
   ========================== */
[class*='twc-col3_157015-c'] {
  width: 13%;
  margin-left: 0; }

[class*='twc-col3_157015-c1'] {
  width: 69%; }
  [class*='twc-col3_157015-c1'] > .parsys {
    padding: 0 2%; }

/* ==========================
    17/56/17
   ========================== */
[class*='twc-col3_175617-c'] {
  width: 21.9%;
  margin: 0;
  padding: 0 2%; }

[class*='twc-col3_175617-c1'] {
  width: 56.2%; }
  [class*='twc-col3_175617-c1'] > .parsys {
    padding: 0 2%; }

/* ==========================
    33/33/33
   ========================== */
[class*='twc-col3_333333-c'] {
  width: 31.6666667%; }

/* ==========================
    50/25/25
   ========================== */
[class*='twc-col3_502525-c'] {
  width: 23.125%; }

[class*='twc-col3_502525-c0'] {
  width: 48.75%; }

/* ==========================
    25/25/50
   ========================== */
[class*='twc-col3_252550-c'] {
  width: 23.125%; }

[class*='twc-col3_252550-c2'] {
  width: 48.75%; }

/* ==========================
    4 Columns
   ========================== */
/* ==========================
    25/25/25/25
   ========================== */
[class*='twc-col4_25252525-c'] {
  width: 23.125%; }

.twc-submenu [class*='twc-col4_25252525-c'] {
  width: 25%;
  margin: 0;
  padding: 0 2%; }
.twc-submenu [class*='twc-col'] {
  border: solid transparent;
  border-width: 0 0 0 1px;
  border-image: url("../images/tall-divider-gray.png") 2 2 stretch stretch; }
  .twc-submenu [class*='twc-col']:first-child {
    border-image: none; }

/* ==========================
    5 Columns
   ========================== */
[class*='twc-col5_2020202020-c'] {
  width: 18%; }

/* ==========================
    6 Columns
   ========================== */
[class*='twc-col6_151515151515-c'] {
  width: 14.583333%; }

/* ==========================
    7 Columns
   ========================== */
[class*='twc-col7_12121212121212-c'] {
  width: 12.142857142857%; }

/* ==========================
    Multi Column
   ========================== */
[class*='two_column_'] {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  -ms-column-gap: 20px;
  column-gap: 20px; }

[class*='three_column_'] {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  -ms-column-gap: 20px;
  column-gap: 20px; }

/* ==========================
	Main Content
   ========================== */
.subHead {
  display: block;
  margin: .5em 0; }

p.subHead a {
  font-size: 13px;
  font-size: 1.3rem; }
  p.subHead a:before {
    font-family: 'FontAwesome', sans-serif;
    content: "\f104";
    padding-right: 5px; }

a.subHead:before {
  font-family: 'FontAwesome', sans-serif;
  content: "\f104";
  padding-right: 5px; }

.page-header, .content-header {
  border-radius: 3px 3px 0 0; }

.page-footer, .content-footer {
  border-radius: 0 0 3px 3px; }

.twc-box-column {
  padding: 1.5em;
  margin-bottom: 2em;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 #888;
  overflow: auto; }

.page-header + .twc-box-column {
  border-radius: 0 0 3px 3px; }

.twc-borderBottom {
  padding-bottom: .5em;
  border-bottom: 1px solid #CDCFD1; }
  .twc-borderBottom h3 {
    margin-bottom: .5em; }

/* ==========================
	Aside / Sidebar Section
   ========================== */
.twc-share-module {
  display: inline-block; }

.twc-block {
  display: inline; }
  .twc-block ul.twc-share, .twc-block a {
    display: inline-block;
    float: left;
    padding: .5em 1em;
    background: #4f799f;
    border-radius: 3px;
    color: #f2f4f6; }

.twc-share-module li, .twc-share-module .twc-print {
  float: right;
  padding: .5em 2em;
  color: #d4dadf;
  font-size: 13px;
  text-transform: uppercase; }

ul.twc-share li {
  border-bottom: 0; }

.twc-print {
  margin: 0;
  padding: 0 7px; }
  .twc-print:hover {
    background: #265a83; }

.twc-block .twc-share {
  float: right; }
  .twc-block .twc-share li {
    float: left;
    height: 18px;
    padding: 0 7px;
    border-right: 1px solid #ababab; }
    .twc-block .twc-share li:first-child {
      border-right: none; }
  .twc-block .twc-share a {
    display: block;
    float: left;
    text-indent: -9999em;
    padding: 0;
    margin: 0;
    opacity: .7; }
    .twc-block .twc-share a:hover {
      opacity: 1; }

.twc-share li:last-child {
  border-right: 0; }

.twc-arrow {
  background: url(../images/arrow-white-right.png) no-repeat scroll 100% center transparent;
  padding-right: 15px; }

.viewAll {
  display: inline-block;
  margin: 1em 0;
  font-weight: 500;
  color: #333; }
  .viewAll:after {
    padding-left: 5px;
    font-family: 'FontAwesome', sans-serif;
    font-size: inherit;
    font-weight: inherit;
    content: '\f105'; }

/* ==========================================================================
    Module
   ========================================================================== */
/* ==========================================================================
    State
   ========================================================================== */
/* ==========================================================================
    Theme
   ========================================================================== */
/* ==========================
    Browser Specific
   ========================== */
/* Firefox */
@-moz-document url-prefix() {}
/* Webkit: Chrome/Safari */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Webkit browsers add a 2px margin outside the chrome of form elements */ }
/* IE:8/9 */
/* ie (.ie) */
/* ie8 (.ie8) */
/* ie9 (.ie9) */
/* ==========================
    Responsive Design
   ========================== */
/* ==========================
    Tablet
   ========================== */
@media (max-width: 68.6875em) {
  /* ==========================================================================
      Layout
     ========================================================================== */
  .twc-container {
    padding: 1em 4%; }

  /* ==========================
      2 and 3 Columns
     ========================== */
  [class*='twc-col2'] {
    width: 100%;
    margin-left: 0; }

  [class*='twc-col2_7525-c'].marginless, [class*='twc-col2_6040-c'].marginless {
    width: 100%; }

  /* ==========================
      17/56/17
     ========================== */
  [class*='twc-col3'] {
    width: 100%;
    margin-left: 0; }

  /* ==========================
      50/25/25
     ========================== */
  [class*='twc-col3_502525-c'] {
    width: 48.75%; }

  [class*='twc-col3_502525-c0'] {
    width: 100%; }

  [class*='twc-col3_502525-c2'] {
    margin-left: 2.5%; }

  /* ==========================
      25/25/50
     ========================== */
  [class*='twc-col3_252550-c'] {
    width: 48.75%; }

  [class*='twc-col3_252550-c1'] {
    margin-top: 0;
    margin-left: 2.5%; }

  [class*='twc-col3_252550-c2'] {
    margin-left: 0;
    width: 100%; }

  /* ==========================
      33/33/33
     ========================== */
  [class*='twc-col3_333333-c'] {
    width: 100%;
    margin-left: 0; }

  /* ==========================
      4 Columns
     ========================== */
  [class*='twc-col4_25252525-c'] {
    width: 48.75%; }
    [class*='twc-col4_25252525-c']:nth-of-type(2n+1) {
      margin-left: 0; }

  [class*='twc-col4_25252525-c1'] {
    margin-top: 0; }

  /* ==========================
      5 Columns
     ========================== */
  [class*='twc-col5_5-c'] {
    width: 48.75%; }
    [class*='twc-col5_5-c']:nth-of-type(2n+1) {
      margin-left: 0; }

  [class*='twc-col5_5-c1'] {
    margin-top: 0; }

  /* ==========================
  	6 Columns
     ========================== */
  [class*='twc-col6_151515151515-c'] {
    width: 31.666667%; }
    [class*='twc-col6_151515151515-c']:nth-of-type(4) {
      margin-left: 0; }

  [class*='twc-col6_151515151515-c1'], [class*='twc-col6_151515151515-c2'] {
    margin-top: 0;
    margin-bottom: 2em; }

  /* ==========================
  	7 Columns
     ========================== */
  [class*='twc-col7_7-c'] {
    width: 31.666667%; }

  [class*='twc-col7_7-c6'] {
    clear: both;
    width: 100%;
    margin-left: 0; }
    [class*='twc-col7_7-c6'] input {
      display: block;
      max-width: 250px;
      -webkit-appearance: none; }

  [class*='twc-col7_7-c']:nth-of-type(4) {
    margin-left: 0; }

  [class*='twc-col7_7-c1'], [class*='twc-col7_7-c2'] {
    margin-top: 0; }

  /* ==========================================================================
      Module
     ========================================================================== */
  /* ==========================================================================
      State
     ========================================================================== */
  /* ==========================================================================
      Theme
     ========================================================================== */ }
/* ==========================
    Smartphone
   ========================== */
@media (max-width: 31.25em) {
  [class*='_column_'] {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1; }

  /* ==========================================================================
      Layout
     ========================================================================== */
  [class*="twc-col"] {
    width: 100%;
    margin-left: 0; }

  /* ==========================
      2 Columns
     ========================== */
  [class*='twc-col2'] {
    width: 100%; }

  /* ==========================
      4 Columns
     ========================== */
  [class*='twc-col4']:nth-of-type(2), [class*='twc-col5']:nth-of-type(2) {
    margin-top: 10px; }

  /* ==========================
      5 Columns
     ========================== */
  /* ==========================
      6 Columns
     ========================== */
  [class*='twc-col6_151515151515-c']:nth-of-type(1n+2) {
    margin-top: 10px; }
  [class*='twc-col6_151515151515-c']:nth-of-type(4) {
    margin-left: 0; }

  footer [class*='twc-col6_151515151515-c'] {
    position: relative;
    width: 33.334%;
    margin: 0;
    text-align: center; }
    footer [class*='twc-col6_151515151515-c']:nth-of-type(1n+2) {
      margin-top: 0; }

  /* ==========================
      7 Columns
     ========================== */
  [class*='twc-col7_7-c']:nth-of-type(1n+2) {
    margin-top: 10px; }
  [class*='twc-col7_7-c']:nth-of-type(4) {
    margin-left: 0; }

  footer [class*='twc-col7_7-c'] {
    width: 33.334%;
    margin: 0;
    text-align: center; }
    footer [class*='twc-col7_7-c']:nth-of-type(1n+2) {
      margin-top: 0; }

  [class*='twc-col7_7-c']:nth-of-type(7n) {
    width: 100%;
    padding: 2%; }
  [class*='twc-col7_7-c'] input {
    display: inline;
    max-width: 60%; }

  /* ==========================================================================
      Module
     ========================================================================== */
  .mobile-push {
    float: right;
    margin-left: 0; }

  .mobile-pull {
    float: left;
    margin-left: 0; }

  /* ==========================================================================
      State
     ========================================================================== */
  /* ==========================================================================
      Theme
     ========================================================================== */ }
