/* ==========================================================================
    CSS Code for all Meters
   
    Author: Max Quattromani
    Version: 1.8.9.9 - Updated: 9/26/2013
   ========================================================================== */
/* ==========================================================================
    Layout
   ========================================================================== */
/* ==========================================================================
    Module
   ========================================================================== */
.meter {
  position: relative;
  margin: 2em 0;
  padding: 1em;
  border-radius: 3px;
  background: #e1e1e1;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  text-align: center; }
  .meter > span {
    position: relative;
    overflow: hidden;
    display: block;
    height: 100%;
    padding: .5em;
    border-radius: 2px;
    background-color: #3779b3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3779b3), to(#02447e));
    background-image: -webkit-linear-gradient(top, #3779b3, #02447e);
    background-image: -moz-linear-gradient(top, #3779b3, #02447e);
    background-image: -o-linear-gradient(top, #3779b3, #02447e);
    background-image: -ms-linear-gradient(top, #3779b3, #02447e);
    background-image: linear-gradient(top, #3779b3, #02447e);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3779b3', EndColorStr='#02447e');
    color: #fff; }

/* ==========================================================================
    State
   ========================================================================== */
/* ==========================================================================
    Theme
   ========================================================================== */
/* ==========================
    Browser Specific
   ========================== */
/* Firefox */
@-moz-document url-prefix() {}
/* Webkit: Chrome/Safari */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Webkit browsers add a 2px margin outside the chrome of form elements */ }
/* IE:8/9 */
/* ie (.ie) */
/* ie8 (.ie8) */
/* ie9 (.ie9) */
/* ==========================
    Responsive Design
   ========================== */
/* ==========================
    Tablet
   ========================== */
@media (max-width: 68.6875em) {
  /* ==========================================================================
      Layout
     ========================================================================== */
  /* ==========================================================================
      Module
     ========================================================================== */
  /* ==========================================================================
      State
     ========================================================================== */
  /* ==========================================================================
      Theme
     ========================================================================== */ }
/* ==========================
    Smartphone
   ========================== */
@media (max-width: 31.25em) {
  /* ==========================================================================
      Layout
     ========================================================================== */
  /* ==========================================================================
      Module
     ========================================================================== */
  /* ==========================================================================
      State
     ========================================================================== */
  /* ==========================================================================
      Theme
     ========================================================================== */ }
