/* ==========================================================================
    CSS Code for Content Modules
   
    Author: Max Quattromani
    Version: 1.9.0.0 - Updated: 10/22/2013
   ========================================================================== */
/*

 * Layout
 
 * Module
 
 * State
 
 * Theme
 
 * Browser Specific
  * Safari/Chrome/Webkit
  * Firefox
  * Internet Explorer
 
 */
/* ==========================================================================
    Base
   ========================================================================== */
/* ==========================================================================
    Layout
   ========================================================================== */
/* ==========================================================================
    Module
   ========================================================================== */
hr {
  margin: 1.5em 0;
  border: 0;
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #fff; }

.divider-shadow {
  position: relative;
  overflow: hidden;
  margin: 1em 0 0;
  padding: 1em 0;
  border-top: 1px solid #fff; }
  .divider-shadow:before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 96%;
    top: -1em;
    height: 10px;
    left: 2%;
    border-radius: 100px / 5px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.25); }

/* ==========================================================================
    State
   ========================================================================== */
/* ==========================================================================
   Theme
   ========================================================================== */
/* ==========================
    Browser Specific
   ========================== */
/* Firefox */
@-moz-document url-prefix() {}
/* Webkit: Chrome/Safari */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Webkit browsers add a 2px margin outside the chrome of form elements */ }
/* IE:8/9 */
/* ie (.ie) */
/* ie8 (.ie8) */
.twc-ie8 .divider-shadow {
  margin: 1.5em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #fff; }

/* ie9 (.ie9) */
/* ==========================
    Responsive Design
   ========================== */
/* ==========================
    Tablet
   ========================== */
@media (max-width: 68.6875em) {
  /* ==========================================================================
      Layout
     ========================================================================== */
  /* ==========================================================================
      Module
     ========================================================================== */
  /* ==========================================================================
      State
     ========================================================================== */
  /* ==========================================================================
      Theme
     ========================================================================== */ }
/* ==========================
    Smartphone
   ========================== */
@media (max-width: 31.25em) {
  /* ==========================================================================
      Layout
     ========================================================================== */
  /* ==========================================================================
      Module
     ========================================================================== */
  /* ==========================================================================
      State
     ========================================================================== */
  /* ==========================================================================
      Theme
     ========================================================================== */ }
