/* ==========================================================================
   CSS Code for the Search Modules
   
   Author: Max Quattromani
   Version: 1.8.9.9 - Updated: 9/26/2013
   ========================================================================== */
/* ==========================================================================
    Layout
   ========================================================================== */
/* ==========================================================================
    Module
   ========================================================================== */
.twc-search-module {
  margin: 0 auto;
  background: #d4d5d6; }
  .twc-search-module .twc-container {
    padding: 1em 4%; }

.twc-module ul {
  margin-bottom: 5px;
  text-align: justify; }
.twc-module li {
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid #9d9d9e; }
  .twc-module li.twc-first {
    padding-left: 0; }
  .twc-module li.twc-last {
    border-right: 0; }

header .twc-module {
  width: auto; }

.twc-module {
  width: auto;
  max-width: 440px;
  margin: 0 auto; }
  .twc-module .twc-search-input-wrap {
    width: auto; }

.twc-banner-search {
  display: inline-block;
  width: 100%;
  margin: 0 auto; }

/* ==========================
	Input Fields
   ========================== */
.twc-search input {
  width: 78%; }

/* ==========================================================================
    State
   ========================================================================== */
/* ==========================================================================
    Theme
   ========================================================================== */
/* ==========================
    Browser Specific
   ========================== */
/* Firefox */
@-moz-document url-prefix() {}
/* Webkit: Chrome/Safari */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Webkit browsers add a 2px margin outside the chrome of form elements */ }
/* IE:8/9 */
/* ie (.ie) */
/* ie8 (.ie8) */
/* ie9 (.ie9) */
/* ==========================
    Responsive Design
   ========================== */
/* ==========================
    Tablet
   ========================== */
@media (max-width: 68.6875em) {
  .twc-search-module {
    display: none; }

  /* ==========================================================================
      Layout
     ========================================================================== */
  /* ==========================================================================
      Module
     ========================================================================== */
  .twc-search-input-wrap {
    width: auto; }

  .twc-tablet-search {
    display: table-cell;
    height: 40px;
    vertical-align: middle; }

  .twc-mobile-search button:before {
    content: '\f002';
    font-family: 'FontAwesome', sans-serif; }

  /* ==========================================================================
      State
     ========================================================================== */
  /* ==========================================================================
      Theme
     ========================================================================== */ }
/* ==========================
    Smartphone
   ========================== */
@media (max-width: 31.25em) {
  /* ==========================================================================
      Layout
     ========================================================================== */
  /* ==========================================================================
      Module
     ========================================================================== */
  .twc-tablet-search {
    display: none; }

  .twc-search-module .twc-module {
    width: 100%; }
    .twc-search-module .twc-module ul {
      display: none; }
  .twc-search-module input#submit {
    width: 25%;
    padding: 9px 0; }

  /* ==========================================================================
      State
     ========================================================================== */
  /* ==========================================================================
      Theme
     ========================================================================== */ }
