/* ==========================================================================
    CSS Code for the Sticky Bar
   
    Author: Max Quattromani
    Version: 1.8.9.9 - Updated: 9/30/2013
   ========================================================================== */

/* ==========================================================================
    Layout
   ========================================================================== */

/* ==========================================================================
    Module
   ========================================================================== */

.sticky { 
	background: #3a647b;
	box-shadow: 0 1px 2px 0 #333;
	text-align: center; }
    
.sticky .twc-container { padding: .675em 0; } 

.sticky span { 
	font-size: 16px;
	font-size: 1.6rem; }

.sticky a { color: #ddd; }

.sticky .twc-icon { 
	padding: 0 .5em; }

.fixed {
    position: fixed;
	width: 100%;
    top: 0;
    z-index: 9999; }
	
.spacer { background: #010101; }

/* ==========================================================================
    State
   ========================================================================== */

/* ==========================================================================
    Theme
   ========================================================================== */
   
/* ==========================
    Browser Specific
   ========================== */

/* Firefox */

@-moz-document url-prefix() {

}

/* Webkit: Chrome/Safari */ 

@media screen and (-webkit-min-device-pixel-ratio:0) {
/* Webkit browsers add a 2px margin outside the chrome of form elements */

}

/* IE:8/9 */
   
/* ie (.ie) */   

/* ie8 (.ie8) */

/* ie9 (.ie9) */

/* ==========================
    Responsive Design
   ========================== */ 

/* ==========================
    Tablet
   ========================== */ 

@media (max-width: 68.6875em) {
 
/* ==========================================================================
    Layout
   ========================================================================== */

/* ==========================================================================
    Module
   ========================================================================== */
    
/* ==========================================================================
    State
   ========================================================================== */
   
/* ==========================================================================
    Theme
   ========================================================================== */

} 
   
/* ==========================
    Smartphone
   ========================== */ 

@media (max-width: 31.25em) {

/* ==========================================================================
    Layout
   ========================================================================== */
   
/* ==========================================================================
    Module
   ========================================================================== */

/* ==========================================================================
    State
   ========================================================================== */

/* ==========================================================================
    Theme
   ========================================================================== */
    
} 
       