/* ==========================================================================
   CSS Code for the User Location
   
   Author: Max Quattromani
   Version: 1.8.9.9 - Updated: 10/16/2013
   ========================================================================== */
/* ==========================================================================
    Layout
   ========================================================================== */
/* ==========================================================================
    Module
   ========================================================================== */
/* ==========================
	Change Location Drop Down
   ========================== */
.twc-location {
  padding-right: 0;
  text-align: right; }

.twc-customerLocation {
  position: relative;
  color: #fff; }
  .twc-customerLocation li {
    padding: .5em; }
    .twc-customerLocation li ul {
      display: none; }
  .twc-customerLocation ul li.twc-drop-nav.persist {
    border-radius: 3px 3px 0 0;
    background: #677986; }
  .twc-customerLocation p.twc-alert-text {
    font-weight: 700; }
  .twc-customerLocation ul li ul {
    display: none;
    position: absolute;
    width: 225px;
    top: 28px;
    background: #677986;
    border-radius: 3px 0 3px 3px;
    opacity: 0;
    visibility: hidden;
    z-index: 9999; }
    .twc-customerLocation ul li ul li {
      display: block;
      color: #fff; }
  .twc-customerLocation button.btn {
    background: #444545; }
    .twc-customerLocation button.btn:hover {
      background: #333; }
  .twc-customerLocation ul li li {
    padding: 0; }

a.twc-change {
  font-weight: 100;
  color: #9d9d9e; }
  a.twc-change:after {
    content: '\f078';
    margin-left: 4px; }

li.twc-drop-nav.persist a.twc-change:after {
  content: '\f00d';
  padding: 0 1px; }

.message {
  top: 4px;
  margin-top: 5px;
  padding: 10px;
  border-radius: 0 0 3px 3px;
  background: #c6c9cf;
  z-index: 9999; }

.twc-customerLocation .message p {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #333;
  line-height: 1;
  text-align: center; }
  .twc-customerLocation .message p a {
    padding: 0;
    color: #3376b2; }

.oof-error-text {
  display: inline-block; }

/* ==========================================================================
    State
   ========================================================================== */
/* ==========================================================================
    Theme
   ========================================================================== */
/* ==========================
    Browser Specific
   ========================== */
/* Firefox */
@-moz-document url-prefix() {}
/* Webkit: Chrome/Safari */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Webkit browsers add a 2px margin outside the chrome of form elements */ }
/* IE:8/9 */
/* ie (.ie) */
.twc-ie .twc-customerLocation ul li ul {
  right: 0; }

/* ie8 (.ie8) */
/* ie9 (.ie9) */
/* ==========================
    Responsive Design
   ========================== */
/* ==========================
    Tablet
   ========================== */
@media (max-width: 68.6875em) {
  /* ==========================================================================
      Layout
     ========================================================================== */
  /* ==========================================================================
      Module
     ========================================================================== */
  /* ==========================================================================
      State
     ========================================================================== */
  /* ==========================================================================
      Theme
     ========================================================================== */ }
/* ==========================
    Smartphone
   ========================== */
@media (max-width: 31.25em) {
  /* ==========================================================================
      Layout
     ========================================================================== */
  /* ==========================================================================
      Module
     ========================================================================== */
  span.twc-mobile-city {
    display: none; }

  div.twc-mobile-custLoc input {
    margin-right: 0; }

  /* ==========================================================================
      State
     ========================================================================== */
  /* ==========================================================================
      Theme
     ========================================================================== */ }
