/* ==========================================================================
    CSS Code for all Videos
   
    Author: Max Quattromani
    Version: 1.8.9.9 - Updated: 9/26/2013
   ========================================================================== */
audio, canvas {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%; }

canvas {
  top: 0;
  left: 0;
  max-width: 100%; }

video {
  margin-bottom: 0; }

figure video {
  margin-bottom: 1em; }

audio:not([controls]) {
  display: none; }

/* ==========================================================================
    Layout
   ========================================================================== */
/* ==========================================================================
    Module
   ========================================================================== */
.video-container {
  margin-bottom: 1em;
  background-color: #262626;
  background: -moz-linear-gradient(left, #262626 0%, #6b6d6d 28%, #6b6d6d 72%, #262626 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #262626), color-stop(28%, #6b6d6d), color-stop(72%, #6b6d6d), color-stop(100%, #262626));
  background: -webkit-linear-gradient(left, #262626 0%, #6b6d6d 28%, #6b6d6d 72%, #262626 100%);
  background: -o-linear-gradient(left, #262626 0%, #6b6d6d 28%, #6b6d6d 72%, #262626 100%);
  background: -ms-linear-gradient(left, #262626 0%, #6b6d6d 28%, #6b6d6d 72%, #262626 100%);
  background: linear-gradient(to right, #262626 0%, #6b6d6d 28%, #6b6d6d 72%, #262626 100%);
  behavior: url(pie/PIE.htc);
  text-align: center; }

/* ==========================================================================
    State
   ========================================================================== */
/* ==========================================================================
    Theme
   ========================================================================== */
/* ==========================
    Browser Specific
   ========================== */
/* Firefox */
@-moz-document url-prefix() {}
/* Webkit: Chrome/Safari */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Webkit browsers add a 2px margin outside the chrome of form elements */ }
/* IE:8/9 */
/* ie (.ie) */
/* ie8 (.ie8) */
/* ie9 (.ie9) */
/* ==========================
    Responsive Design
   ========================== */
/* ==========================
    Tablet
   ========================== */
@media (max-width: 68.6875em) {
  /* ==========================================================================
      Base
     ========================================================================== */
  video {
    height: 21.25%; }

  /* ==========================================================================
      Layout
     ========================================================================== */
  /* ==========================================================================
      Module
     ========================================================================== */
  /* ==========================================================================
      State
     ========================================================================== */
  /* ==========================================================================
      Theme
     ========================================================================== */ }
/* ==========================
    Smartphone
   ========================== */
@media (max-width: 31.25em) {
  video {
    height: auto; }

  /* ==========================================================================
      Layout
     ========================================================================== */
  /* ==========================================================================
      Module
     ========================================================================== */
  /* ==========================================================================
      State
     ========================================================================== */
  /* ==========================================================================
      Theme
     ========================================================================== */ }
