/* ==========================================================================
   CSS Code for the Banner Module
   
   Author: Max Quattromani
   Version: 1.8.9.9 - Updated: 9/26/2013
   ========================================================================== */

/* ==========================================================================
    Layout
   ========================================================================== */

/* ==========================================================================
    Module
   ========================================================================== */

.twc-banner {
  position: relative;
  height: auto;
  background-image: url("../images/line-pattern.png"), url("../images/background-feature-header.jpg");
  background-repeat: repeat;
  background-position: center;
  h1 {
    margin: .3em 0;
    color: #fff;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
  }
  span {
    float: left;
    width: 50%;
    color: #fff;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
  }
}

/* ==========================================================================
    State
   ========================================================================== */

/* ==========================================================================
    Theme
   ========================================================================== */

/* ==========================
    Browser Specific
   ========================== */

/* Firefox */

@-moz-document url-prefix() {}


/* Webkit: Chrome/Safari */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Webkit browsers add a 2px margin outside the chrome of form elements */
}

/* IE:8/9 */

/* ie (.ie) */

.twc-ie .twc-banner {
  width: 100%;
  filter: none;
}

/* ie8 (.ie8) */

.twc-ie8 .twc-banner {
  background-image: url("../images/background-feature-header.jpg");
}

/* ie9 (.ie9) */

/* ==========================
    Responsive Design
   ========================== */

/* ==========================
    Tablet
   ========================== */

@media (max-width: 68.6875em) {
  /* ==========================================================================
      Layout
     ========================================================================== */
  .twc-banner {
    h1 {
      margin: 0;
      line-height: 1;
    }
    span {
      width: 75%;
    }
  }
  /* ==========================================================================
      Module
     ========================================================================== */
  /* ==========================================================================
      State
     ========================================================================== */
  /* ==========================================================================
      Theme
     ========================================================================== */
}

/* ==========================
    Smartphone
   ========================== */

@media (max-width: 31.25em) {
  /* ==========================================================================
      Layout
     ========================================================================== */
  /* ==========================================================================
      Module
     ========================================================================== */
  .twc-banner span {
    width: 100%;
  }
  /* ==========================================================================
      State
     ========================================================================== */
  /* ==========================================================================
      Theme
     ========================================================================== */
}
