/* ==========================================================================
    CSS Code for all Global Elements and Site-Wide Selectors
   
    Author: Max Quattromani
    Version: 1.9.0.0  - Updated: 10/22/2013
   ========================================================================== */

/*
 
 * Base
 		* Colors
 		* Defaults
 
 * Layout
 
 * Module
 
 * State
 
 * Theme
 
 * Browser Specific
 		* Safari/Chrome/Webkit
 		* Firefox
 		* Internet Explorer
 
 */

/* ==========================================================================
    Base: Colors
   ========================================================================== */
/* 
 
 	333
 	3376b2
 	4c4d51 -> 2f2f33 
 	eeeeef -> dddfe2
 	e9eaee -> fdfdfd
 	d8d8da -> fff
 
*/

/* ==========================================================================
    Base: Defaults
   ========================================================================== */
/* ==========================
	Reset
   ========================== */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, ins, kbd, q, samp, small, strong, var, b, i, dl, dt, dd, ul, li, fieldset, form, label, legend, table, caption, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  list-style: none outside none;
  vertical-align: baseline;
}

/* ==========================
	HTML5 Display Definitions
   ========================== */

article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* ==========================
	Base Stucture
   ========================== */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ==========================================================================
    Layout
   ========================================================================== */

/* ==========================================================================
    Module
   ========================================================================== */

/* ==========================================================================
    State
   ========================================================================== */

/* ==========================================================================
    Theme
   ========================================================================== */

/* ==========================
    Browser Specific
   ========================== */

/* Firefox */

@-moz-document url-prefix() {}


/* Webkit: Chrome/Safari */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Webkit browsers add a 2px margin outside the chrome of form elements */
}

/* IE:8/9 */

/* ie (.ie) */

/* ie8 (.ie8) */

/* ie9 (.ie9) */

/* ==========================
    Responsive Design
   ========================== */

/* ==========================
    Tablet
   ========================== */

@media (max-width: 68.6875em) {
  /* ==========================================================================
      Layout
     ========================================================================== */
  /* ==========================================================================
      Module
     ========================================================================== */
  /* ==========================================================================
      State
     ========================================================================== */
  /* ==========================================================================
      Theme
     ========================================================================== */
}

/* ==========================
    Smartphone
   ========================== */

@media (max-width: 31.25em) {
  /* ==========================================================================
      Layout
     ========================================================================== */
  /* ==========================================================================
      Module
     ========================================================================== */
  /* ==========================================================================
      State
     ========================================================================== */
  /* ==========================================================================
      Theme
     ========================================================================== */
}
