/* ==========================================================================
    CSS Code for the Browser Alerts Module
   
    Author: Max Quattromani
    Version: 1.8.9.9 - Updated: 9/26/20133
   ========================================================================== */

/* ==========================================================================
    Layout
   ========================================================================== */

/* ==========================================================================
    Module
   ========================================================================== */

.twc-browser-alert-section {
  background-color: #fef937;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fef937), to(#e8d440));
  background-image: -webkit-linear-gradient(top, #fef937, #e8d440);
  background-image: -moz-linear-gradient(top, #fef937, #e8d440);
  background-image: -o-linear-gradient(top, #fef937, #e8d440);
  background-image: -ms-linear-gradient(top, #fef937, #e8d440);
  background-image: linear-gradient(top, #fef937, #e8d440);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fef937', EndColorStr='#e8d440');
  ul {
    margin-bottom: 0;
  }
}

/* ==========================================================================
    State
   ========================================================================== */

/* ==========================================================================
    Theme
   ========================================================================== */

/* ==========================
    Browser Specific
   ========================== */

/* Firefox */

@-moz-document url-prefix() {}


/* Webkit: Chrome/Safari */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Webkit browsers add a 2px margin outside the chrome of form elements */
}

/* IE:8/9 */

/* ie (.ie) */

/* ie8 (.ie8) */

/* ie9 (.ie9) */

/* ==========================
    Responsive Design
   ========================== */

/* ==========================
    Tablet
   ========================== */

@media (max-width: 68.6875em) {
  /* ==========================================================================
      Layout
     ========================================================================== */
  /* ==========================================================================
      Module
     ========================================================================== */
  /* ==========================================================================
      State
     ========================================================================== */
  /* ==========================================================================
      Theme
     ========================================================================== */
}

/* ==========================
    Smartphone
   ========================== */

@media (max-width: 31.25em) {
  /* ==========================================================================
      Layout
     ========================================================================== */
  /* ==========================================================================
      Module
     ========================================================================== */
  /* ==========================================================================
      State
     ========================================================================== */
  /* ==========================================================================
      Theme
     ========================================================================== */
}
