/* ==========================================================================
    CSS Code for all list elements
   
    Author: Max Quattromani
    Version: 1.8.9.9 - Updated: 9/26/2013
   ========================================================================== */

/* ==========================================================================
    Layout
   ========================================================================== */

/* ==========================================================================
    Module
   ========================================================================== */

ol {
  margin: 0 0 0 1.5em;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  ul {
    margin-bottom: 0;
  }
}

ol ol {
  margin-bottom: 0;
}

/* Bulleted List Items */

.bulleted {
  ~ ul {
    margin-bottom: 0;
  }
  li {
    list-style: outside disc;
    margin-left: 1em;
    border-bottom: none;
  }
}

.not-bulleted {
  list-style-type: none !important;
}

/* Horizontal List Items */

.horizontal {
  li {
    display: inline;
  }
  &.slashes li {
    padding: 0;
    &:after {
      content: '/';
      padding: 0 .5em;
    }
    &.twc-last:after {
      content: '';
    }
  }
  &.pipes li {
    padding: 0;
    &:after {
      content: '|';
      padding: 0 .25em 0 .5em;
    }
    &.twc-last:after {
      content: '';
    }
  }
}

/* Horizantal List with Slashes */

/* Horizontal List with Slashes */

/* Vertical List Items */

.vertical {
  > ul > li {
    padding: .5em 0;
  }
  &.lined > ul > li {
    border-bottom: 1px dotted #E1E1E1;
    &.twc-last {
      border-bottom: none;
    }
  }
  &.alt > ul > li:nth-child(even) {
    background: #f6f6f6;
  }
}

/* SmartLinks */

.horizontal li > div.smartLink {
  display: inline;
}

/* Ordered List */

ol li {
  list-style: decimal;
  list-style-position: outside;
}

/* Definition List */

dt {
  font-weight: bold;
}

dd {
  margin-left: 1em;
}

/* ==========================================================================
    State
   ========================================================================== */

/* ==========================================================================
    Theme
   ========================================================================== */

/* ==========================
    Browser Specific
   ========================== */

/* Firefox */

@-moz-document url-prefix() {}


/* Webkit: Chrome/Safari */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Webkit browsers add a 2px margin outside the chrome of form elements */
}

/* IE:8/9 */

/* ie (.ie) */

/* ie8 (.ie8) */

/* ie9 (.ie9) */

/* ==========================
    Responsive Design
   ========================== */

/* ==========================
    Tablet
   ========================== */

@media (max-width: 68.6875em) {
  /* ==========================================================================
      Layout
     ========================================================================== */
  /* ==========================================================================
      Module
     ========================================================================== */
  /* ==========================================================================
      State
     ========================================================================== */
  /* ==========================================================================
      Theme
     ========================================================================== */
}

/* ==========================
    Smartphone
   ========================== */

@media (max-width: 31.25em) {
  /* ==========================================================================
      Layout
     ========================================================================== */
  /* ==========================================================================
      Module
     ========================================================================== */
  /* ==========================================================================
      State
     ========================================================================== */
  /* ==========================================================================
      Theme
     ========================================================================== */
}
