/* ==========================================================================
    CSS Code for the Operational Message
   
    Author: Max Quattromani
    Version: 1.8.9.9 - Updated: 9/26/2013
   ========================================================================== */

/* ==========================================================================
    Layout
   ========================================================================== */

/* ==========================================================================
    Module
   ========================================================================== */

.operationalMessage {
  .twc-box-column {
    padding: 1em;
    background: #e1ecf5;
  }
  .notices {
    width: 8%;
    border-right: 1px solid #ccc;
  }
}

.marquee-messages {
  width: 84%;
  margin: 0 auto;
  text-align: center;
  ul {
    margin-bottom: 0;
  }
  li {
    display: none;
  }
}

.controls {
  display: none;
  width: 8%;
  text-align: right;
  span {
    cursor: pointer;
  }
}

/* ==========================================================================
    State
   ========================================================================== */

/* ==========================================================================
    Theme
   ========================================================================== */

/* ==========================
    Browser Specific
   ========================== */

/* Firefox */

@-moz-document url-prefix() {}


/* Webkit: Chrome/Safari */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Webkit browsers add a 2px margin outside the chrome of form elements */
}

/* IE:8/9 */

/* ie (.ie) */

/* ie8 (.ie8) */

/* ie9 (.ie9) */

/* ==========================
    Responsive Design
   ========================== */

/* ==========================
    Tablet
   ========================== */

@media (max-width: 68.6875em) {
  /* ==========================================================================
      Layout
     ========================================================================== */
  /* ==========================================================================
      Module
     ========================================================================== */
  .operationalMessage .notices {
    border: 0;
  }
  .marquee-messages {
    display: block;
    width: 100%;
    padding: 0;
    text-align: left;
  }
  /* ==========================================================================
      State
     ========================================================================== */
  /* ==========================================================================
      Theme
     ========================================================================== */
}

/* ==========================
    Smartphone
   ========================== */

@media (max-width: 31.25em) {
  /* ==========================================================================
      Layout
     ========================================================================== */
  /* ==========================================================================
      Module
     ========================================================================== */
  .controls {
    width: 20%;
  }
  /* ==========================================================================
      State
     ========================================================================== */
  /* ==========================================================================
      Theme
     ========================================================================== */
}
