/* ==========================================================================
    CSS Code for Pagination
   
    Author: Max Quattromani
    Version: 1.8.9.9 - Updated: 9/26/2013
   ========================================================================== */

/* ==========================================================================
    Layout
   ========================================================================== */

/* ==========================================================================
    Module
   ========================================================================== */

.pagination {
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    position: relative;
    &.twc-last {
      margin-right: 0;
    }
  }
  button {
    font-size: 13px;
    font-size: 1.3rem;
    &.first:before {
      content: '\f100';
      padding-right: 1em;
      font-family: 'FontAwesome', sans-serif;
    }
    &.last:after {
      content: '\f101';
      padding-left: 1em;
      font-family: 'FontAwesome', sans-serif;
    }
  }
  li {
    &.page_prev button:before {
      content: '\f104';
      padding-right: 1em;
      font-family: 'FontAwesome', sans-serif;
    }
    &.page_next button:after {
      content: '\f105';
      padding-left: 1em;
      font-family: 'FontAwesome', sans-serif;
    }
  }
  .number span {
    background: none repeat scroll 0 0 #ebedec;
  }
  li {
    &.page_first, &.page_prev, &.page_next, &.page_last {
      display: none;
    }
  }
}

.pagination_alt .number {
  a, span {
    margin: 0.2857em 0;
    padding: 0 0.45em;
    font-size: 1em;
    line-height: 1.4286;
  }
}

.pagination_left ol {
  float: none;
}

.pagination li {
  &.page_first, &.page_prev, &.page_next, &.page_last {
    display: block;
  }
}

/* ==========================================================================
    State
   ========================================================================== */

/* ==========================================================================
    Theme
   ========================================================================== */

/* ==========================
    Browser Specific
   ========================== */

/* Firefox */

@-moz-document url-prefix() {}


/* Webkit: Chrome/Safari */

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Webkit browsers add a 2px margin outside the chrome of form elements */
}

/* IE:8/9 */

/* ie (.ie) */

/* ie8 (.ie8) */

/* ie9 (.ie9) */

/* ==========================
    Responsive Design
   ========================== */

/* ==========================
    Tablet
   ========================== */

@media (max-width: 68.6875em) {
  /* ==========================================================================
      Layout
     ========================================================================== */
  /* ==========================================================================
      Module
     ========================================================================== */
  /* ==========================================================================
      State
     ========================================================================== */
  /* ==========================================================================
      Theme
     ========================================================================== */
}

/* ==========================
    Smartphone
   ========================== */

@media (max-width: 31.25em) {
  /* ==========================================================================
      Layout
     ========================================================================== */
  /* ==========================================================================
      Module
     ========================================================================== */
  .pagination {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .btn.number {
    display: none;
  }
  /* ==========================================================================
     State
     ========================================================================== */
  /* ==========================================================================
     Theme
     ========================================================================== */
}
