/* ==========================================================================
   CSS code for WiFi Map Coverage
   
   Author: Max Quattromani
   Version: 1.0 - Updated: 6/18/13
   ========================================================================== */
   
/*

 * Layout
 
 * Module
 
 * State
 
 * Theme
 
 * Browser Specific
 		* Safari/Chrome/Webkit
 		* Firefox
 		* Internet Explorer
 
 */
 
/* ==========================================================================
   Base
   ========================================================================== */

/* base styles are being handled by base main.css */ 


/* ==========================================================================
   Layout
   ========================================================================== */

/* layout styles are being handled by base main.css */


/* ==========================================================================
   Module
   ========================================================================== */

.twc-banner {
	background: #111;
	background-image: url('../images/MSM_banner.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.banner_CTA_container {
	width: 25%;
	padding: 40px 0;
	text-align: center;
}

	.banner_CTA_container h1 {
		line-height: 1;
		text-shadow: 0 0 2px #222;
	}

	.banner_CTA_container span {
		margin-bottom: 1em;
		color: #fff;
		text-shadow: 0 0 2px #222;
	}

span.instruction { font-weight: bold; }

/* ==========================================================================
   State
   ========================================================================== */
   
/* ==========================
   Browser Specific
   ========================== */

/* Firefox */

@-moz-document url-prefix() {

}

/* Webkit: Chrome/Safari */ 

@media screen and (-webkit-min-device-pixel-ratio:0) {
/* Webkit browsers add a 2px margin outside the chrome of form elements */

}

/* IE: 6/7/8/9 */
   
/* ie (.ie) */   

/* ie6 (.ie6) */

/* prevent BG image flicker upon hover */

/* ie7 (.ie7) */

/* ie8 (.ie8) */

/* ie9 (.ie9) */


/* ==========================
	Responsive Design
   ========================== */ 

/* Tablet */   

@media (max-width: 68.6875em) {
 
/* ==========================================================================
   Layout
   ========================================================================== */


/* ==========================================================================
   Module
   ========================================================================== */

.twc-banner {
	background-position: 60% 0;
}

	.banner_CTA_container {
		width: 40%;
	}

/* ==========================================================================
   State
   ========================================================================== */


/* ==========================================================================
   Theme
   ========================================================================== */	

} /* End Tablet Breakpoint */
   
/* SmartPhone */   

@media (max-width: 31.25em) {

/* ==========================================================================
   Layout
   ========================================================================== */


/* ==========================================================================
   Module
   ========================================================================== */

.twc-banner {
	background-position: 80% 0;
	-webkit-box-shadow: inset 0px 0px 300px rgba(0,0,0,.85);
	   -moz-box-shadow: inset 0px 0px 300px rgba(0,0,0,.85);
	   		box-shadow: inset 0px 0px 300px rgba(0,0,0,.85);
}

	.banner_CTA_container {
		width: 100%;
	}

/* ==========================================================================
   State
   ========================================================================== */
   
/* ==========================================================================
   Theme
   ========================================================================== */
   
   		
} /* End SmartPhone Breakpoint */ 
   
/* ==========================================================================
   Theme
   ========================================================================== */
    
