/* ==========================================================================
   CSS code for Editorial Components
   
   Author: Max Quattromani
   Version: 1.0 - Updated: 6/25/13
   ========================================================================== */
   
/*

 * Layout
 
 * Module
 
 * State
 
 * Theme
 
 * Browser Specific
 		* Safari/Chrome/Webkit
 		* Firefox
 		* Internet Explorer
 
 */
 
/* ==========================================================================
   Base
   ========================================================================== */
 


/* ==========================================================================
   Layout
   ========================================================================== */

/* layout styles are being handled by base main.css */



/* ==========================================================================
   Module
   ========================================================================== */

[href=''],
[href='']:hover {
	background-color: #98B3CB;
    background-image: -moz-linear-gradient(center top , #98B3CB, #879BBE);
}

table.alt_row { 
  	border-spacing:0;
  	border-collapse:collapse;
}

table.alt_row th {
	height: 30px;
	background: #333;
	color: #fff;
}

table.alt_row tr {
	background: #fff;
}

table.alt_row tr:nth-of-type(even) {
	background: #f7f8fc;
}

	table.alt_row td {
		width: 50%;
		padding: 5px 2%;
		vertical-align: top;
	}
	
	table.alt_row.two_column_table td {
		width: 50%;
	}
	
	table.alt_row.three_column_table td {
		width: 33.3334%;
	}



/* ==========================================================================
   State
   ========================================================================== */
   
/* ==========================
   Browser Specific
   ========================== */

/* Firefox */

@-moz-document url-prefix() {

}

/* Webkit: Chrome/Safari */ 

@media screen and (-webkit-min-device-pixel-ratio:0) {
/* Webkit browsers add a 2px margin outside the chrome of form elements */

}

/* IE: 6/7/8/9 */
   
/* ie (.ie) */   

/* ie6 (.ie6) */

/* prevent BG image flicker upon hover */

/* ie7 (.ie7) */

/* ie8 (.ie8) */

/* ie9 (.ie9) */


/* ==========================
	Responsive Design
   ========================== */ 

/* Tablet */   

@media (max-width: 68.6875em) {
 
/* ==========================================================================
   Layout
   ========================================================================== */





/* ==========================================================================
   Module
   ========================================================================== */

  
   
/* ==========================================================================
   State
   ========================================================================== */




   
/* ==========================================================================
   Theme
   ========================================================================== */	

} /* End Tablet Breakpoint */
   
/* SmartPhone */   

@media (max-width: 31.25em) {

/* ==========================================================================
   Layout
   ========================================================================== */
 
 
 
 
   
/* ==========================================================================
   Module
   ========================================================================== */


/* ==========================================================================
   State
   ========================================================================== */
   
   
   
   
   
   
/* ==========================================================================
   Theme
   ========================================================================== */
  
  
  
  
   		
} /* End SmartPhone Breakpoint */

   
   
   
/* ==========================================================================
   Theme
   ========================================================================== */
    
