/* ==========================================================================
   CSS code for Pay Bill Video Page
   ========================================================================== */
/*
 
 * Base
 		* Colors
 		* Defaults
 
 * Layout
 
 * Module
 
 * State
 
 * Theme
 
 * Browser Specific
 		* Safari/Chrome/Webkit
 		* Firefox
 		* Internet Explorer
 
 */
/* ==========================================================================
   Base: Colors
   ========================================================================== */
/* 
 
 	222
 	3376b2
 	2f3032 -> 791a1c 
 	c8cbd1 -> f2f4f6
 	3779b3 -> 02447e
 	d4d4d4 -> fff
 
*/
/* ==========================================================================
   Base: Defaults
   ========================================================================== */
/* ==========================
	Reset
   ========================== */
html,body,body div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,time,mark,audio,video {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	background: transparent;
	list-style: none outside none;
	vertical-align: baseline;
	font-size: 100%;
}

/* ==========================
	HTML5 Display Definitions
   ========================== */
article,aside,figure,footer,header,hgroup,nav,section {
	display: block;
}

audio,canvas,video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

audio:not([controls]) {
	display: none;
}

/* ==========================
	Clearfix
   ========================== */
.clearfix {
	*zoom: 1;
}

.clearfix:before,.clearfix:after {
	display: table;
	content: "";
	line-height: 0;
}

.clearfix:after {
	clear: both;
}

/* ==========================
	Base Stucture
   ========================== */
html {
	overflow-y: scroll;
	height: 100%;
	font-size: 62.5%;
	-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
}

body,
button,
input,
select,
textarea {
	background: rgba(236,236,236,0.4);
	background: url("../images/bg.png") repeat scroll 0 0 transparent;
	font-size: 13px;
	font: 1.3rem Arial,sans-serif;
	line-height: 1.231;
	color: #222;
}

/* ==========================================================================
   Base: Font-Face
   ========================================================================== */

@font-face {
	font-family:'TWC Round Book';
	src:url(/../test/_assets/fonts/twcround-book.eot?#iefix) format("embedded-opentype"),
		url(/../test/_assets/fonts/twcround-book.woff) format("woff"),
		url(/../test/_assets/fonts/twcround-book.ttf) format("truetype"),
		url(/../test/_assets/fonts/twcround-book.svg#svgTWCBook) format("svg");
}

@font-face {
	font-family:'TWC Round Light';
	src:url(/../test/_assets/fonts/twcround-light.eot?#iefix) format("embedded-opentype"),
		url(/../test/_assets/fonts/twcround-light.woff) format("woff"),
		url(/../test/_assets/fonts/twcround-light.ttf) format("truetype"),
		url(/../test/_assets/fonts/twcround-light.svg#svgTWCLight) format("svg");
}

@font-face {
	font-family:'TWC Round Medium';
	src:url(/../test/_assets/fonts/twcround-medium.eot?#iefix) format("embedded-opentype"),
		url(/../test/_assets/fonts/twcround-medium.woff) format("woff"),
		url(/../test/_assets/fonts/twcround-medium.ttf) format("truetype"),
		url(/../test/_assets/fonts/twcround-medium.svg#svgTWCMedium) format("svg");
}

/* ==========================
	Links
   ========================== */

a {
	margin: 0;
	padding: 0;
	background: transparent;
	vertical-align: baseline;
	font-family: sans-serif;
	font-weight: bold;
	color: #3376b2;
	text-decoration: none;
}

a:hover {
	color: #1b405d;
}

/* ==========================
	Typography
   ========================== */

html {
	text-rendering:optimizelegibility;
	-webkit-font-smoothing:antialiased;
	   -moz-font-smoothing:antialiased;
		-ms-font-smoothing:antialiased;
		 -o-font-smoothing:antialiased;
			font-smoothing:antialiased;
}

h1,h2,h3,h4,h5,h6 {
	font: bold Arial,sans-serif;
	margin-bottom: 1em;
}

small {
	font-size: 13px;
	font-size: 1.3rem;
}

p,
blockquote,
small {
	margin-bottom: 1.443em;
}

p {
	font: 100 1em 'TWC Round Light',Arial,Sans-Serif;
	-webkit-hyphens:auto;
	   -moz-hyphens:auto;
			hyphens:auto;
}

/* ==========================================================================
   Layout
   ========================================================================== */

.wrap {
	margin: 0 auto;
	width: 980px;
	zoom: 1;
}

	.wrap:before,
	.wrap:after {
		display: table;
		content: "";
		zoom: 1;
	}
	
	.wrap:after {
		clear: both;
	}





/* ==========================================================================
   Module
   ========================================================================== */

.logo {

   	margin-top: -250px; /* Half the height */
   	margin-left: -250px; /* Half the width */
}

.icon, 
.icon * {
    display: block;
    position: absolute;
}

.icon * {
	border-radius: 50%;
	height: 138px;
	width: 142px;
}

.icon {
	top: 50%;
	left: 50%;
	
	width: 250px;
	height: 250px;
	margin-top: -125px; /* Half the height */
   	margin-left: -125px; /* Half the width */
	
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		 -o-transform: rotate(45deg);
	  		transform: rotate(45deg);
}

[class*='curve'] {
    box-shadow: 0 27px 0 #009dd3;
} 

.curve1 {
	left: 54px;
	top: 20px;
}
  
.icon .curve1 * {
	left: -15px;
	top: 35px;
	-moz-transform: rotate(50deg);
	-ms-transform: rotate(50deg);
	-o-transform: rotate(50deg);
	-webkit-transform: rotate(50deg);
	transform: rotate(50deg);
}





/* ==========================================================================
   State
   ========================================================================== */
   
.blue-button {
	display: block;
	clear: right;
	float:left;	
	padding: 9px 20px;
	background-color: #3779b3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3779b3), to(#02447e));
	background-image: -webkit-linear-gradient(top, #3779b3, #02447e);
	background-image: -moz-linear-gradient(top, #3779b3, #02447e);
	background-image: -o-linear-gradient(top, #3779b3, #02447e);
	background-image: -ms-linear-gradient(top, #3779b3, #02447e);
	background-image: linear-gradient(top, #3779b3, #02447e);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3779b3', EndColorStr='#02447e');
	background-size: 100% auto;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	color: #fff;
	font-family: 'TWC Round Light',Arial,Sans-Serif;
	font-size: 13px;
	text-align: center;
}

.blue-button:hover {
	background-color: #265a83;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#265a83), to(#1b405e));
	background-image: -webkit-linear-gradient(top, #265a83, #1b405e);
	background-image: -moz-linear-gradient(top, #265a83, #1b405e);
	background-image: -o-linear-gradient(top, #265a83, #1b405e);
	background-image: -ms-linear-gradient(top, #265a83, #1b405e);
	background-image: linear-gradient(top, #265a83, #1b405e);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#265a83', EndColorStr='#1b405e');
	background-size:100% auto;
	color:#FFF!important;
}

/* Social Networking Icons */
.facebook {
	margin-top: -1px;
	padding: 2px 0 2px 20px;
	display: block;
	height: 16px;
	background: url(http://maxquattromani.com/test/payBill/images/social-facebook.png) 0 0 no-repeat transparent;
}

.facebook:hover {
	background-image: url(../images/social-facebook-hover.png);
}

.twitter {
	margin-top: -1px;
	padding: 2px 0 2px 20px;
	display: block;
	height: 16px;
	background: transparent url(../images/social-twitter.png) 0 0 no-repeat;
}

.twitter:hover {
	background-image: url(../images/social-twitter-hover.png);
}

.untangled {
	margin-top: -1px;
	padding: 2px 0 2px 20px;
	display: block;
	height: 16px;
	background: transparent url(../images/social-untangled.png) 0 0 no-repeat;
}

.untangled:hover {
	background-image: url(../images/social-untangled-hover.png);
}

.youtube {
	margin-top: -1px;
	padding: 2px 0 2px 20px;
	display: block;
	height: 16px;
	background: transparent url(../images/social-youtube.png) 0 0 no-repeat;
}

.youtube:hover {
	background-image: url(../images/social-youtube-hover.png);
}

/* ==========================================================================
   Responsive Design
   ========================================================================== */

/* ==========================
	Desktop
   ========================== */

@media (max-width: 64em) {

}

/* ==========================
	Tablet
   ========================== */   

@media (max-width: 50em) {

}
   
/* ==========================
	SmartPhone
   ========================== */   

@media (max-width: 30em) {

}

   
   
   
   
   
/* ==========================================================================
   Theme
   ========================================================================== */
   
   
   
   
   
/* ==========================================================================
   Browser Specific
   ========================================================================== */
   
/* Safari/Chrome/Webkit */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	/* selectors goes here */
	
}

/* Firefox */
/* Ah, Internet Explorer */

.ie .footer .col a { font-family: sans-serif;}
/* ie7 (.ie7) */
/* ie8 (.ie8) */
/* ie9 (.ie9) */
.ie9 .gradient {
	filter:none;
}