/* ==========================================================================
    CSS code for LOB SBS
   
   	Author: Dan Stockbridge
   	Version: 1.0.0 - Updated: 9/23/13
   ========================================================================== */
   
/*

 * Layout
 
 * Module
 
 * State
 
 * Theme
 
 * Browser Specific
 		* Safari/Chrome/Webkit
 		* Firefox
 		* Internet Explorer
 
 */
 
/* ==========================================================================
   	Base
   ========================================================================== */

	.share > div[class*="share-"] { display: inline;}

	.sbs-content  li { 
		border-bottom: 1px solid #E1E1E1;
		padding: 2em 0;}
	
	.sbs-content li.twc-last { border-bottom: none; }
	
	.sbs-content span.arialBold { display: block;} 
	
	.sbs-content .steps span {
		display: block;
		margin-bottom: 1em; }
	
	.sbs-content figure { 
	    display: none;
		width: 100%;
		background-color: #f7f7f7;
		margin: 0;
		padding: 2em; }
		
	.sbs-content figure img {
		margin-bottom:0;}

li li.notexpandable.active { 
    position: relative;
    background: #3376B2; }

    li li.notexpandable.active:after {
        position: absolute;
        content: '';
        top: 0;
        right: -16px;
        height: 0;
        width: 0;
        border-bottom: 16px solid transparent;
        border-left: 16px solid #3376B2;
        border-top: 16px solid transparent; }
    
    li li.notexpandable.active a { color: #fff; }

/* ==========================================================================
   	Layout
   ========================================================================== */

/* ==========================================================================
   	Module
   ========================================================================== */

/* ==========================================================================
   	State
   ========================================================================== */
   
/* ==========================
   	Browser Specific
   ========================== */

/* Webkit: Chrome/Safari */ 

/* IE: 6/7/8/9 */
   
/* ie (.ie) */   

/* ie6 (.ie6) */

/* prevent BG image flicker upon hover */

/* ie7 (.ie7) */

/* ie8 (.ie8) */

/* ie9 (.ie9) */


/* ==========================
	Responsive Design
   ========================== */ 

/* Tablet */   

@media (max-width: 68.6875em) {
 
/* ==========================================================================
   	Layout
   ========================================================================== */

/* ==========================================================================
   	Module
   ========================================================================== */

.expandable li ul { border: none; }

    li li.notexpandable.active:after { border: none }
	
/* ==========================================================================
   	State
   ========================================================================== */

/* ==========================================================================
   	Theme
   ========================================================================== */	

} /* End Tablet Breakpoint */
   
/* SmartPhone */   

@media (max-width: 31.25em) {

/* ==========================================================================
   	Layout
   ========================================================================== */
   
/* ==========================================================================
   	Module
   ========================================================================== */

/* ==========================================================================
   	State
   ========================================================================== */ 
   
/* ==========================================================================
   	Theme
   ========================================================================== */
   		
} /* End SmartPhone Breakpoint */

/* ==========================================================================
   	Theme
   ========================================================================== */
